html {
  font-family: system-ui, -apple-system, system-ui, "Segoe UI",
    ".SFNSText-Regular", Roboto, Helvetica, "sans-serif";
  font-size: 16px;
}

code {
  border-radius: 0.125rem;
  display: inline;
  max-width: 100%;
  overflow-x: auto;
  padding: 0 0.125em;
  vertical-align: baseline;
  background: rgba(0, 0, 0, 0.02);
  color: #ca473f;
}

p {
  font-size: 1.125rem;
  line-height: 1.8em;
}
:root {
  --theme-ui-colors-sidebar-navLinkActive: rgb(38, 130, 213);
  --theme-ui-colors-primary: rgb(38, 130, 213);
}

ul.css-cvh4i0 {
  font-size: 0.925em;
  padding-left: 16px;
}

img.sitelogo {
  height: 50px;
}