openapi: 3.0.3
info:
  title: 'MetaFox APIs'
  description: "Version: v5.1.7\nUpdated: Dec 08, 2023"
  version: 1.0.0
servers:
  -
    url: 'https://demo.metafox.app/api/v1'
paths:
  '/api/{ver}/activitypoint/conversion-request':
    get:
      summary: 'Browse item'
      operationId: browseItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: possimus
                from_date:
                  type: string
                  description: ''
                  example: id
                to_date:
                  type: string
                  description: ''
                  example: autem
                limit:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 100.'
                  example: 4
                id:
                  type: integer
                  description: ''
                  example: 9
=======
                  example: corporis
                from_date:
                  type: string
                  description: ''
                  example: eum
                to_date:
                  type: string
                  description: ''
                  example: placeat
                limit:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 100.'
                  example: 22
                id:
                  type: integer
                  description: ''
                  example: 17
>>>>>>> Stashed changes
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: vel
=======
        example: aut
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/conversion-request/{id}':
    get:
      summary: ''
      operationId: getApiVerActivitypointConversionRequestId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Activity Point'
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: optio
=======
        example: nostrum
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the conversion request.'
<<<<<<< Updated upstream
        example: '971'
=======
        example: '04'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/conversion-request/{id}/cancel':
    patch:
      summary: ''
      operationId: patchApiVerActivitypointConversionRequestIdCancel
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Activity Point'
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: iure
=======
        example: earum
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the conversion request.'
<<<<<<< Updated upstream
        example: '8'
=======
        example: '77074'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/package':
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters:
        -
          in: query
          name: q
          description: 'search text'
<<<<<<< Updated upstream
          example: quidem
=======
          example: a
>>>>>>> Stashed changes
          required: false
          schema:
            type: string
            description: 'search text'
<<<<<<< Updated upstream
            example: quidem
=======
            example: a
>>>>>>> Stashed changes
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: quasi
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: latest
=======
                  example: vitae
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: most_liked
>>>>>>> Stashed changes
                sort_type:
                  type: string
                  description: 'Must be one of <code>desc</code> or <code>asc</code>.'
                  example: asc
                page:
                  type: integer
                  description: 'Must be at least 1.'
<<<<<<< Updated upstream
                  example: 5
                limit:
                  type: integer
                  description: ''
                  example: 7
=======
                  example: 81
                limit:
                  type: integer
                  description: ''
                  example: 1
>>>>>>> Stashed changes
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: accusamus
=======
        example: perspiciatis
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/package-transaction':
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: sequi
                status:
                  type: string
                  description: ''
                  example: cumque
                from:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T03:47:58'
                to:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T03:47:58'
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: most_discussed
=======
                  example: at
                status:
                  type: string
                  description: ''
                  example: perferendis
                from:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T01:52:06'
                to:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T01:52:06'
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: most_viewed
>>>>>>> Stashed changes
                sort_type:
                  type: string
                  description: 'Must be one of <code>desc</code> or <code>asc</code>.'
                  example: asc
                page:
                  type: integer
                  description: 'Must be at least 1.'
<<<<<<< Updated upstream
                  example: 44
                limit:
                  type: integer
                  description: ''
                  example: 3
=======
                  example: 68
                limit:
                  type: integer
                  description: ''
                  example: 11
>>>>>>> Stashed changes
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: aliquid
=======
        example: natus
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/package/purchase/{id}':
    post:
      summary: ''
      operationId: postApiVerActivitypointPackagePurchaseId
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_gateway:
                  type: integer
                  description: ''
<<<<<<< Updated upstream
                  example: 17
=======
                  example: 20
>>>>>>> Stashed changes
              required:
                - payment_gateway
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: fugit
=======
        example: maxime
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the purchase.'
<<<<<<< Updated upstream
        example: '1611'
=======
        example: '4'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/package/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: est
=======
        example: dolore
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the package.'
<<<<<<< Updated upstream
        example: '46'
=======
        example: '1960'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/setting':
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: most_viewed
                sort_type:
                  type: string
                  description: 'Must be one of <code>desc</code> or <code>asc</code>.'
<<<<<<< Updated upstream
                  example: desc
=======
                  example: asc
>>>>>>> Stashed changes
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: nulla
=======
        example: impedit
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/statistic/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: non
=======
        example: eligendi
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the statistic.'
<<<<<<< Updated upstream
        example: '5'
=======
        example: '68'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/transaction':
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: integer
                  description: ''
<<<<<<< Updated upstream
                  example: 11
                from:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T03:47:58'
                to:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T03:47:58'
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: most_viewed
=======
                  example: 2
                from:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T01:52:06'
                to:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T01:52:06'
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: latest
>>>>>>> Stashed changes
                sort_type:
                  type: string
                  description: 'Must be one of <code>desc</code> or <code>asc</code>.'
                  example: asc
                page:
                  type: integer
                  description: 'Must be at least 1.'
<<<<<<< Updated upstream
                  example: 82
                limit:
                  type: integer
                  description: ''
                  example: 2
=======
                  example: 47
                limit:
                  type: integer
                  description: ''
                  example: 4
>>>>>>> Stashed changes
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: similique
=======
        example: quo
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/transaction/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: tempore
=======
        example: sequi
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the transaction.'
<<<<<<< Updated upstream
        example: '9'
=======
        example: '16541'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise':
    get:
      summary: ''
      operationId: getApiVerAdvertiseAdvertise
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                placement_id:
                  type: number
                  description: ''
<<<<<<< Updated upstream
                  example: 125.893949
=======
                  example: 29448487.63245
>>>>>>> Stashed changes
                view:
                  type: string
                  description: ''
                  example: null
                start_date:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: ea
                end_date:
                  type: string
                  description: ''
                  example: facilis
                status:
                  type: string
                  description: ''
                  example: vel
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 36
                limit:
                  type: number
                  description: ''
                  example: 5.791684
=======
                  example: dolorum
                end_date:
                  type: string
                  description: ''
                  example: voluptatem
                status:
                  type: string
                  description: ''
                  example: et
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 26
                limit:
                  type: number
                  description: ''
                  example: 3445.546288
>>>>>>> Stashed changes
      security: []
    post:
      summary: ''
      operationId: postApiVerAdvertiseAdvertise
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                placement_id:
                  type: number
                  description: ''
<<<<<<< Updated upstream
                  example: 4.10666559
=======
                  example: 2.1
>>>>>>> Stashed changes
                image:
                  type: object
                  description: ''
                  example: []
                  properties:
                    status:
                      type: string
                      description: 'This field is required when <code>image.temp_file</code> is present.'
<<<<<<< Updated upstream
                      example: ut
                    temp_file:
                      type: number
                      description: 'This field is required when <code>image.id</code> is <code>0</code>.'
                      example: 5.4284
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://bode.com/'
                image_tooltip:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: rvifxlph
                html_title:
                  type: string
                  description: 'This field is required when <code>creation_type</code> is <code>html</code>. Must not be greater than 25 characters.'
                  example: ejljdxgn
                html_description:
                  type: string
                  description: 'Must not be greater than 135 characters.'
                  example: bxhsrgyskmugldpvoshmjqt
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
                  example: klbvwxlldm
=======
                      example: quisquam
                    temp_file:
                      type: number
                      description: 'This field is required when <code>image.id</code> is <code>0</code>.'
                      example: 43.5678
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://www.schuster.com/'
                image_tooltip:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: btjprvfxkrgaldrt
                html_title:
                  type: string
                  description: 'This field is required when <code>creation_type</code> is <code>html</code>. Must not be greater than 25 characters.'
                  example: xwstdcdd
                html_description:
                  type: string
                  description: 'Must not be greater than 135 characters.'
                  example: yzljrseqb
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
                  example: u
>>>>>>> Stashed changes
                total_click:
                  type: string
                  description: ''
                  example: null
                total_impression:
                  type: string
                  description: ''
                  example: null
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: integer
                  description: 'Must be at least 1.'
<<<<<<< Updated upstream
                  example: 3
=======
                  example: 25
>>>>>>> Stashed changes
                age_to:
                  type: string
                  description: ''
                  example: null
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
<<<<<<< Updated upstream
                    - recusandae
=======
                    - assumenda
>>>>>>> Stashed changes
                  items:
                    type: string
                is_active:
                  type: string
                  description: ''
                  example: null
                start_date:
                  type: string
                  description: 'Must be a valid date.'
<<<<<<< Updated upstream
                  example: '2023-12-26T03:47:58'
=======
                  example: '2023-12-26T01:52:06'
>>>>>>> Stashed changes
                end_date:
                  type: string
                  description: ''
                  example: null
                creation_type:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: laboriosam
=======
                  example: perspiciatis
>>>>>>> Stashed changes
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
              required:
                - placement_id
                - image
                - url
                - title
                - start_date
                - creation_type
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: vel
=======
        example: perferendis
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise/active/{id}':
    patch:
      summary: ''
      operationId: patchApiVerAdvertiseAdvertiseActiveId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: sit
=======
        example: et
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the active.'
<<<<<<< Updated upstream
        example: '5547613'
=======
        example: '0366742'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise/hide/{id}':
    patch:
      summary: ''
      operationId: patchApiVerAdvertiseAdvertiseHideId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: molestiae
=======
        example: ducimus
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the hide.'
<<<<<<< Updated upstream
        example: '2'
=======
        example: '0'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise/report/{id}':
    get:
      summary: ''
      operationId: getApiVerAdvertiseAdvertiseReportId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                report_type:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: et
                view:
                  type: string
                  description: ''
                  example: consequuntur
                start_date_month:
                  type: string
                  description: ''
                  example: ab
                end_date_month:
                  type: string
                  description: ''
                  example: culpa
                start_date_week:
                  type: string
                  description: ''
                  example: perferendis
                end_date_week:
                  type: string
                  description: ''
                  example: qui
                start_date_day:
                  type: string
                  description: ''
                  example: sequi
                end_date_day:
                  type: string
                  description: ''
                  example: repellat
=======
                  example: earum
                view:
                  type: string
                  description: ''
                  example: aliquam
                start_date_month:
                  type: string
                  description: ''
                  example: sed
                end_date_month:
                  type: string
                  description: ''
                  example: quasi
                start_date_week:
                  type: string
                  description: ''
                  example: veniam
                end_date_week:
                  type: string
                  description: ''
                  example: hic
                start_date_day:
                  type: string
                  description: ''
                  example: et
                end_date_day:
                  type: string
                  description: ''
                  example: necessitatibus
>>>>>>> Stashed changes
              required:
                - report_type
                - view
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: dolores
=======
        example: quo
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the report.'
<<<<<<< Updated upstream
        example: '59'
=======
        example: '72'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise/show':
    get:
      summary: ''
      operationId: getApiVerAdvertiseAdvertiseShow
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                placement_id:
                  type: number
                  description: ''
<<<<<<< Updated upstream
                  example: 288.031187
                location:
                  type: string
                  description: ''
                  example: suscipit
=======
                  example: 27.678470035
                location:
                  type: string
                  description: ''
                  example: temporibus
>>>>>>> Stashed changes
              required:
                - placement_id
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: eos
=======
        example: sed
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise/total/{id}':
    patch:
      summary: ''
      operationId: patchApiVerAdvertiseAdvertiseTotalId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: velit
=======
                  example: et
>>>>>>> Stashed changes
              required:
                - type
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: fugit
=======
        example: iste
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the total.'
<<<<<<< Updated upstream
        example: '32'
=======
        example: '5668'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    put:
      summary: ''
      operationId: putApiVerAdvertiseAdvertiseId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
<<<<<<< Updated upstream
                  example: kcmufaxskcs
=======
                  example: qk
>>>>>>> Stashed changes
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: number
                  description: 'Must be at least 1.'
<<<<<<< Updated upstream
                  example: 19
                age_to:
                  type: number
                  description: ''
                  example: 61613.0
=======
                  example: 70
                age_to:
                  type: number
                  description: ''
                  example: 896.43935001
>>>>>>> Stashed changes
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
<<<<<<< Updated upstream
                    - fugit
=======
                    - sed
>>>>>>> Stashed changes
                  items:
                    type: string
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
              required:
                - title
      security: []
    delete:
      summary: 'Delete item.'
      operationId: deleteItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: qui
=======
        example: impedit
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the advertise.'
<<<<<<< Updated upstream
        example: '11838870'
=======
        example: '55988'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/invoice':
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: autem
                end_date:
                  type: string
                  description: ''
                  example: quam
                status:
                  type: string
                  description: ''
                  example: consequatur
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 26
                limit:
                  type: number
                  description: ''
                  example: 839.1
=======
                  example: ipsam
                end_date:
                  type: string
                  description: ''
                  example: deserunt
                status:
                  type: string
                  description: ''
                  example: quod
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 86
                limit:
                  type: number
                  description: ''
                  example: 4080.42995518
>>>>>>> Stashed changes
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: amet
=======
        example: quis
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/invoice/cancel/{id}':
    patch:
      summary: ''
      operationId: patchApiVerAdvertiseInvoiceCancelId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: nulla
=======
        example: molestiae
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the cancel.'
<<<<<<< Updated upstream
        example: '4'
=======
        example: '8872218'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/invoice/change':
    post:
      summary: ''
      operationId: postApiVerAdvertiseInvoiceChange
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_id:
                  type: number
                  description: ''
<<<<<<< Updated upstream
                  example: 45031522.7
                item_id:
                  type: number
                  description: 'Must be at least 1.'
                  example: 65
                item_type:
                  type: string
                  description: ''
                  example: voluptatem
                payment_gateway:
                  type: number
                  description: ''
                  example: 99502.3
=======
                  example: 342504438.0
                item_id:
                  type: number
                  description: 'Must be at least 1.'
                  example: 69
                item_type:
                  type: string
                  description: ''
                  example: quia
                payment_gateway:
                  type: number
                  description: ''
                  example: 87656410.63191
>>>>>>> Stashed changes
              required:
                - item_id
                - item_type
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: blanditiis
=======
        example: sunt
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/invoice/payment':
    post:
      summary: ''
      operationId: postApiVerAdvertiseInvoicePayment
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_id:
                  type: number
                  description: ''
<<<<<<< Updated upstream
                  example: 174106500.5
                item_id:
                  type: number
                  description: 'Must be at least 1.'
                  example: 86
                item_type:
                  type: string
                  description: ''
                  example: amet
                payment_gateway:
                  type: number
                  description: ''
                  example: 133910.0030393
=======
                  example: 829.0
                item_id:
                  type: number
                  description: 'Must be at least 1.'
                  example: 42
                item_type:
                  type: string
                  description: ''
                  example: rerum
                payment_gateway:
                  type: number
                  description: ''
                  example: 567.59
>>>>>>> Stashed changes
              required:
                - item_id
                - item_type
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: qui
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/sponsor':
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: eos
                end_date:
                  type: string
                  description: ''
                  example: perferendis
                status:
                  type: string
                  description: ''
                  example: molestiae
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 42
                limit:
                  type: number
                  description: ''
                  example: 136.759
=======
                  example: suscipit
                end_date:
                  type: string
                  description: ''
                  example: quaerat
                status:
                  type: string
                  description: ''
                  example: deleniti
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 85
                limit:
                  type: number
                  description: ''
                  example: 0.0
>>>>>>> Stashed changes
      security: []
    post:
      summary: 'Store item.'
      operationId: storeItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
<<<<<<< Updated upstream
                  example: ypvlfzulx
=======
                  example: rvdqwnxvpkkcaccml
>>>>>>> Stashed changes
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: integer
                  description: 'Must be at least 1.'
<<<<<<< Updated upstream
                  example: 56
=======
                  example: 64
>>>>>>> Stashed changes
                age_to:
                  type: string
                  description: ''
                  example: null
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
<<<<<<< Updated upstream
                    - ratione
=======
                    - tempora
>>>>>>> Stashed changes
                  items:
                    type: string
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
                start_date:
                  type: string
                  description: 'Must be a valid date.'
<<<<<<< Updated upstream
                  example: '2023-12-26T03:47:58'
=======
                  example: '2023-12-26T01:52:06'
>>>>>>> Stashed changes
                end_date:
                  type: string
                  description: ''
                  example: null
                item_type:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: expedita
                item_id:
                  type: integer
                  description: ''
                  example: 13
                total_impression:
                  type: integer
                  description: 'Must be at least 100.'
                  example: 98
=======
                  example: voluptatem
                item_id:
                  type: integer
                  description: ''
                  example: 9
                total_impression:
                  type: integer
                  description: 'Must be at least 100.'
                  example: 99
>>>>>>> Stashed changes
              required:
                - title
                - start_date
                - item_type
                - item_id
                - total_impression
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: saepe
=======
        example: ut
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/sponsor/active/{id}':
    patch:
      summary: ''
      operationId: patchApiVerAdvertiseSponsorActiveId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: fugiat
=======
        example: omnis
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the active.'
<<<<<<< Updated upstream
        example: '5213431'
=======
        example: '6'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/sponsor/feed':
    post:
      summary: 'Store item.'
      operationId: storeItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
<<<<<<< Updated upstream
                  example: ykvuukzrgmhaip
=======
                  example: tovldhngxvrava
>>>>>>> Stashed changes
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: integer
                  description: 'Must be at least 1.'
<<<<<<< Updated upstream
                  example: 70
=======
                  example: 17
>>>>>>> Stashed changes
                age_to:
                  type: string
                  description: ''
                  example: null
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
<<<<<<< Updated upstream
                    - dolorem
=======
                    - et
>>>>>>> Stashed changes
                  items:
                    type: string
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
                start_date:
                  type: string
                  description: 'Must be a valid date.'
<<<<<<< Updated upstream
                  example: '2023-12-26T03:47:58'
=======
                  example: '2023-12-26T01:52:06'
>>>>>>> Stashed changes
                end_date:
                  type: string
                  description: ''
                  example: null
                item_type:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: ut
                item_id:
                  type: integer
                  description: ''
                  example: 4
                total_impression:
                  type: integer
                  description: 'Must be at least 100.'
                  example: 100
=======
                  example: dolor
                item_id:
                  type: integer
                  description: ''
                  example: 11
                total_impression:
                  type: integer
                  description: 'Must be at least 100.'
                  example: 97
>>>>>>> Stashed changes
              required:
                - title
                - start_date
                - item_type
                - item_id
                - total_impression
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: eius
=======
        example: officia
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/sponsor/form/feed/{itemType}/{itemId}':
    get:
      summary: ''
      operationId: getApiVerAdvertiseSponsorFormFeedItemTypeItemId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: vel
=======
        example: ipsam
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: itemType
        description: ''
<<<<<<< Updated upstream
        example: repudiandae
=======
        example: omnis
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: itemId
        description: ''
<<<<<<< Updated upstream
        example: est
=======
        example: beatae
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/sponsor/form/{itemType}/{itemId}':
    get:
      summary: ''
      operationId: getApiVerAdvertiseSponsorFormItemTypeItemId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: iusto
=======
        example: aliquid
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: itemType
        description: ''
<<<<<<< Updated upstream
        example: quod
=======
        example: maiores
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: itemId
        description: ''
<<<<<<< Updated upstream
        example: rerum
=======
        example: distinctio
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/sponsor/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    put:
      summary: 'Update item.'
      operationId: updateItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
<<<<<<< Updated upstream
                  example: ltegcgyvpkoyrmzzadbyg
=======
                  example: rxrvoqjmjepjpuwwtmiokbtvy
>>>>>>> Stashed changes
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: integer
                  description: 'Must be at least 1.'
<<<<<<< Updated upstream
                  example: 20
=======
                  example: 87
>>>>>>> Stashed changes
                age_to:
                  type: string
                  description: ''
                  example: null
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
<<<<<<< Updated upstream
                    - eveniet
=======
                    - repellat
>>>>>>> Stashed changes
                  items:
                    type: string
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
              required:
                - title
      security: []
    delete:
      summary: 'Delete item.'
      operationId: deleteItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: quis
=======
        example: fugiat
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the sponsor.'
<<<<<<< Updated upstream
        example: '26'
=======
        example: '1'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/sponsor/total/click':
    post:
      summary: ''
      operationId: postApiVerSponsorTotalClick
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_type:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: voluptatibus
=======
                  example: qui
>>>>>>> Stashed changes
                item_ids:
                  type: object
                  description: ''
                  example: []
                  properties: []
              required:
                - item_type
                - item_ids
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: blanditiis
=======
        example: eum
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/sponsor/total/view':
    post:
      summary: ''
      operationId: postApiVerSponsorTotalView
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_type:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: animi
=======
                  example: possimus
>>>>>>> Stashed changes
                item_ids:
                  type: object
                  description: ''
                  example: []
                  properties: []
              required:
                - item_type
                - item_ids
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: dolore
=======
        example: quia
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/announcement':
    get:
      summary: 'Browse announcement.'
      operationId: browseAnnouncement
      description: ''
      parameters:
        -
          in: query
          name: limit
          description: 'The items to return.'
          example: 10
          required: false
          schema:
            type: integer
            description: 'The items to return.'
            example: 10
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Announcement
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: itaque
=======
        example: quas
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/announcement/view':
    get:
      summary: 'Browse announcement.'
      operationId: browseAnnouncement
      description: ''
      parameters:
        -
          in: query
          name: announcement_id
          description: ''
<<<<<<< Updated upstream
          example: 170.22
=======
          example: 0.65137511
>>>>>>> Stashed changes
          required: true
          schema:
            type: number
            description: ''
<<<<<<< Updated upstream
            example: 170.22
=======
            example: 0.65137511
>>>>>>> Stashed changes
        -
          in: query
          name: limit
          description: 'The items to return.'
          example: 10
          required: false
          schema:
            type: integer
            description: 'The items to return.'
            example: 10
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Announcement
    post:
      summary: 'Hide announcement.'
      operationId: hideAnnouncement
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Announcement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                announcement_id:
                  type: number
                  description: 'Must be at least 1.'
<<<<<<< Updated upstream
                  example: 73
=======
                  example: 51
>>>>>>> Stashed changes
              required:
                - announcement_id
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: neque
=======
        example: velit
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/announcement/{id}':
    get:
      summary: 'View announcement.'
      operationId: viewAnnouncement
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Announcement
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: rerum
=======
        example: nobis
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the announcement.'
<<<<<<< Updated upstream
        example: '23322'
=======
        example: '4'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/attachment':
    post:
      summary: 'Upload attachment.'
      operationId: uploadAttachment
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Attachments
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                storage_id:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: aliquid
=======
                  example: repudiandae
>>>>>>> Stashed changes
                file:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 8192 kilobytes.'
                item_type:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: dicta
                upload_type:
                  type: string
                  description: ''
                  example: qui
=======
                  example: commodi
                upload_type:
                  type: string
                  description: ''
                  example: consequatur
>>>>>>> Stashed changes
              required:
                - file
                - item_type
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: explicabo
=======
        example: necessitatibus
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/attachment/download/{id}':
    get:
      summary: 'Allow downloading resource.'
      operationId: allowDownloadingResource
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Attachments
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: ea
=======
        example: sequi
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the download.'
<<<<<<< Updated upstream
        example: '7073'
=======
        example: '0'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/authorization/device':
    post:
      summary: 'Store item.'
      operationId: storeItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_token:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: porro
                device_id:
                  type: string
                  description: ''
                  example: ad
                device_uid:
                  type: string
                  description: ''
                  example: cum
                token_source:
                  type: string
                  description: ''
                  example: expedita
                platform:
                  type: string
                  description: ''
                  example: eligendi
                platform_version:
                  type: string
                  description: ''
                  example: accusamus
=======
                  example: sunt
                device_id:
                  type: string
                  description: ''
                  example: et
                device_uid:
                  type: string
                  description: ''
                  example: at
                token_source:
                  type: string
                  description: ''
                  example: provident
                platform:
                  type: string
                  description: ''
                  example: perferendis
                platform_version:
                  type: string
                  description: ''
                  example: sunt
>>>>>>> Stashed changes
                extra:
                  type: object
                  description: ''
                  example: null
                  properties: []
              required:
                - device_token
                - device_id
                - token_source
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: quidem
=======
        example: sed
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/blog':
    get:
      summary: 'Browse blog.'
      operationId: browseBlog
      description: ''
      parameters:
        -
          in: query
          name: q
          description: ''
<<<<<<< Updated upstream
          example: et
=======
          example: doloremque
>>>>>>> Stashed changes
          required: false
          schema:
            type: string
            description: ''
<<<<<<< Updated upstream
            example: et
=======
            example: doloremque
>>>>>>> Stashed changes
        -
          in: query
          name: view
          description: 'Must be one of <code>all</code>, <code>my</code>, <code>pending</code>, <code>feature</code>, <code>sponsor</code>, <code>search</code>, <code>my_pending</code>, <code>draft</code>, or <code>friend</code>.'
<<<<<<< Updated upstream
          example: my_pending
=======
          example: search
>>>>>>> Stashed changes
          required: false
          schema:
            type: string
            description: 'Must be one of <code>all</code>, <code>my</code>, <code>pending</code>, <code>feature</code>, <code>sponsor</code>, <code>search</code>, <code>my_pending</code>, <code>draft</code>, or <code>friend</code>.'
<<<<<<< Updated upstream
            example: my_pending
=======
            example: search
>>>>>>> Stashed changes
        -
          in: query
          name: sort
          description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
          example: recent
          required: false
          schema:
            type: string
            description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
            example: recent
        -
          in: query
          name: sort_type
          description: 'Must be one of <code>desc</code> or <code>asc</code>.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Must be one of <code>desc</code> or <code>asc</code>.'
            example: asc
        -
          in: query
          name: when
          description: 'Must be one of <code>all</code>, <code>this_month</code>, <code>this_week</code>, or <code>today</code>.'
<<<<<<< Updated upstream
          example: this_month
=======
          example: today
>>>>>>> Stashed changes
          required: false
          schema:
            type: string
            description: 'Must be one of <code>all</code>, <code>this_month</code>, <code>this_week</code>, or <code>today</code>.'
<<<<<<< Updated upstream
            example: this_month
=======
            example: today
>>>>>>> Stashed changes
        -
          in: query
          name: category_id
          description: ''
<<<<<<< Updated upstream
          example: 15
=======
          example: 2
>>>>>>> Stashed changes
          required: false
          schema:
            type: integer
            description: ''
<<<<<<< Updated upstream
            example: 15
=======
            example: 2
>>>>>>> Stashed changes
        -
          in: query
          name: user_id
          description: 'The profile id to filter.'
          example: 0
          required: false
          schema:
            type: integer
            description: 'The profile id to filter.'
            example: 0
        -
          in: query
          name: owner_id
          description: ''
<<<<<<< Updated upstream
          example: 5
=======
          example: 6
>>>>>>> Stashed changes
          required: false
          schema:
            type: integer
            description: ''
<<<<<<< Updated upstream
            example: 5
=======
            example: 6
>>>>>>> Stashed changes
        -
          in: query
          name: page
          description: 'Must be at least 1.'
<<<<<<< Updated upstream
          example: 21
=======
          example: 11
>>>>>>> Stashed changes
          required: false
          schema:
            type: integer
            description: 'Must be at least 1.'
<<<<<<< Updated upstream
            example: 21
=======
            example: 11
>>>>>>> Stashed changes
        -
          in: query
          name: limit
          description: ''
<<<<<<< Updated upstream
          example: 18
=======
          example: 14
>>>>>>> Stashed changes
          required: false
          schema:
            type: integer
            description: ''
<<<<<<< Updated upstream
            example: 18
=======
            example: 14
>>>>>>> Stashed changes
        -
          in: query
          name: is_featured
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    post:
      summary: 'Create blog.'
      operationId: createBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: et
=======
                  example: omnis
>>>>>>> Stashed changes
                categories:
                  type: array
                  description: ''
                  example:
<<<<<<< Updated upstream
                    - 1725.7
=======
                    - 506431.9
>>>>>>> Stashed changes
                  items:
                    type: number
                owner_id:
                  type: number
                  description: ''
<<<<<<< Updated upstream
                  example: 3884.9070464
=======
                  example: 373077.66798603
>>>>>>> Stashed changes
                file:
                  type: object
                  description: ''
                  example: null
                  properties:
                    temp_file:
                      type: number
                      description: 'This field is required when <code>file</code> is present.'
<<<<<<< Updated upstream
                      example: 2928.209170892
                text:
                  type: string
                  description: ''
                  example: dignissimos
                draft:
                  type: number
                  description: ''
                  example: 339259139.29
=======
                      example: 8738.267627759
                text:
                  type: string
                  description: ''
                  example: et
                draft:
                  type: number
                  description: ''
                  example: 72040385.95
>>>>>>> Stashed changes
                tags:
                  type: array
                  description: ''
                  example:
<<<<<<< Updated upstream
                    - cupiditate
=======
                    - ut
>>>>>>> Stashed changes
                  items:
                    type: string
                privacy:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: praesentium
=======
                  example: quos
>>>>>>> Stashed changes
                captcha:
                  type: string
                  description: ''
                  example: null
                attachments:
                  type: array
                  description: ''
                  example:
<<<<<<< Updated upstream
                    - et
=======
                    - qui
>>>>>>> Stashed changes
                  items:
                    type: number
              required:
                - title
                - text
                - privacy
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: iste
=======
        example: ducimus
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/blog-category':
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                  description: ''
<<<<<<< Updated upstream
                  example: 374692.696
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 20
                q:
                  type: string
                  description: ''
                  example: dolorem
                level:
                  type: number
                  description: ''
                  example: 497753.58308508
                limit:
                  type: number
                  description: ''
                  example: 2285.05442649
=======
                  example: 32024571.848685
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 5
                q:
                  type: string
                  description: ''
                  example: ea
                level:
                  type: number
                  description: ''
                  example: 8.2576
                limit:
                  type: number
                  description: ''
                  example: 20294916.5
>>>>>>> Stashed changes
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: ut
=======
        example: minus
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/blog/approve/{id}':
    patch:
      summary: 'Approve blog.'
      operationId: approveBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: tempore
=======
        example: architecto
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the approve.'
<<<<<<< Updated upstream
        example: '89633'
=======
        example: '11403'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/blog/feature/{id}':
    patch:
      summary: 'Feature blog.'
      operationId: featureBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                feature:
                  type: number
                  description: 'Must be one of <code>0</code> or <code>1</code>.'
                  example: '1'
              required:
                - feature
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: voluptatem
=======
        example: recusandae
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the feature.'
<<<<<<< Updated upstream
        example: '50'
=======
        example: '52'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/blog/form':
    get:
      summary: ''
      operationId: getApiVerBlogForm
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_id:
                  type: number
                  description: ''
<<<<<<< Updated upstream
                  example: 573.0
=======
                  example: 8.9424
>>>>>>> Stashed changes
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: qui
=======
        example: reprehenderit
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/blog/form/{id}':
    get:
      summary: ''
      operationId: getApiVerBlogFormId
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_id:
                  type: number
                  description: ''
<<<<<<< Updated upstream
                  example: 197194673.0
=======
                  example: 811.0
>>>>>>> Stashed changes
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: esse
=======
        example: modi
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the form.'
<<<<<<< Updated upstream
        example: '25890'
=======
        example: '80287'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/blog/publish/{id}':
    patch:
      summary: 'Publish blog.'
      operationId: publishBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: qui
=======
        example: optio
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the publish.'
<<<<<<< Updated upstream
        example: '36'
=======
        example: '1'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/blog/search-form':
    get:
      summary: 'Get search form.'
      operationId: getSearchForm
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: temporibus
=======
        example: aut
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/blog/sponsor-in-feed/{id}':
    patch:
      summary: 'Sponsor blog in feed.'
      operationId: sponsorBlogInFeed
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sponsor:
                  type: number
                  description: ''
<<<<<<< Updated upstream
                  example: 0.0
=======
                  example: 53.00029182
>>>>>>> Stashed changes
              required:
                - sponsor
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: est
=======
        example: qui
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the sponsor in feed.'
<<<<<<< Updated upstream
        example: '2'
=======
        example: '0'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/blog/sponsor/{id}':
    patch:
      summary: 'Sponsor blog.'
      operationId: sponsorBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sponsor:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: eveniet
=======
                  example: natus
>>>>>>> Stashed changes
              required:
                - sponsor
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: id
=======
        example: consequatur
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the sponsor.'
<<<<<<< Updated upstream
        example: '9'
=======
        example: '8'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/blog/{id}':
    get:
      summary: 'View Blog.'
      operationId: viewBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    put:
      summary: 'Update blog.'
      operationId: updateBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: saepe
=======
                  example: nesciunt
>>>>>>> Stashed changes
                categories:
                  type: array
                  description: 'Must be at least 1.'
                  example:
<<<<<<< Updated upstream
                    - 45
=======
                    - 57
>>>>>>> Stashed changes
                  items:
                    type: integer
                file:
                  type: object
                  description: ''
                  example: null
                  properties:
                    temp_file:
                      type: number
                      description: 'This field is required when <code>file.status</code> is <code>update</code>.'
<<<<<<< Updated upstream
                      example: 6742.9259109
                    status:
                      type: string
                      description: 'This field is required when <code>file</code> is present.'
                      example: harum
                text:
                  type: string
                  description: ''
                  example: ut
=======
                      example: 2973180.9
                    status:
                      type: string
                      description: 'This field is required when <code>file</code> is present.'
                      example: ullam
                text:
                  type: string
                  description: ''
                  example: quod
>>>>>>> Stashed changes
                tags:
                  type: array
                  description: ''
                  example:
<<<<<<< Updated upstream
                    - nihil
=======
                    - ipsa
>>>>>>> Stashed changes
                  items:
                    type: string
                draft:
                  type: number
                  description: ''
<<<<<<< Updated upstream
                  example: 235679775.375
=======
                  example: 5.0625443
>>>>>>> Stashed changes
                published:
                  type: boolean
                  description: ''
                  example: false
                privacy:
                  type: string
                  description: ''
                  example: null
                attachments:
                  type: array
                  description: ''
                  example:
<<<<<<< Updated upstream
                    - ab
=======
                    - aut
>>>>>>> Stashed changes
                  items:
                    type: number
    delete:
      summary: 'Delete blog.'
      operationId: deleteBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: rem
=======
        example: fuga
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the blog.'
<<<<<<< Updated upstream
        example: '9'
=======
        example: '3'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/captcha/verify':
    post:
      summary: ''
      operationId: postApiVerCaptchaVerify
      description: ''
      parameters: []
      responses: {  }
      tags:
        - CAPTCHA
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                action_name:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: exercitationem
=======
                  example: omnis
>>>>>>> Stashed changes
                captcha:
                  type: string
                  description: ''
                  example: null
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: molestiae
=======
        example: corrupti
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/image-captcha/refresh':
    post:
      summary: ''
      operationId: postApiVerImageCaptchaRefresh
      description: ''
      parameters: []
      responses: {  }
      tags:
        - CAPTCHA
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: ut
=======
        example: qui
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/chat':
    get:
      summary: ''
      operationId: getApiVerChat
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: et
                room_id:
                  type: number
                  description: ''
                  example: 195132.0
                last_message_id:
                  type: number
                  description: ''
                  example: 0.162
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 27
                limit:
                  type: integer
                  description: ''
                  example: 1
=======
                  example: ratione
                room_id:
                  type: number
                  description: ''
                  example: 0.4348
                last_message_id:
                  type: number
                  description: ''
                  example: 155459.64826118
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 13
                limit:
                  type: integer
                  description: ''
                  example: 18
>>>>>>> Stashed changes
      security: []
    post:
      summary: ''
      operationId: postApiVerChat
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                room_id:
                  type: number
                  description: ''
<<<<<<< Updated upstream
                  example: 1043.56669
                message:
                  type: string
                  description: ''
                  example: aut
                type:
                  type: string
                  description: ''
                  example: nihil
                reply_id:
                  type: integer
                  description: ''
                  example: 10
                tempId:
                  type: string
                  description: ''
                  example: praesentium
=======
                  example: 912.385
                message:
                  type: string
                  description: ''
                  example: molestiae
                type:
                  type: string
                  description: ''
                  example: ea
                reply_id:
                  type: integer
                  description: ''
                  example: 13
                tempId:
                  type: string
                  description: ''
                  example: et
>>>>>>> Stashed changes
                attachments:
                  type: array
                  description: ''
                  example:
<<<<<<< Updated upstream
                    - vel
=======
                    - non
>>>>>>> Stashed changes
                  items:
                    type: number
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: a
=======
        example: praesentium
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/chat-room':
    get:
      summary: ''
      operationId: getApiVerChatRoom
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: ''
<<<<<<< Updated upstream
                  example: id
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 32
                limit:
                  type: integer
                  description: ''
                  example: 4
=======
                  example: reprehenderit
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 2
                limit:
                  type: integer
                  description: ''
                  example: 15
>>>>>>> Stashed changes
      security: []
    post:
      summary: ''
      operationId: postApiVerChatRoom
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                member_ids:
                  type: array
                  description: ''
                  example:
<<<<<<< Updated upstream
                    - 17.922829
=======
                    - 445795.0
>>>>>>> Stashed changes
                  items:
                    type: number
                users:
                  type: array
                  description: ''
                  example:
<<<<<<< Updated upstream
                    - reprehenderit
=======
                    - dolores
>>>>>>> Stashed changes
                  items:
                    type: number
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: ut
=======
        example: nam
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/chat-room/addForm':
    get:
      summary: ''
      operationId: getApiVerChatRoomAddForm
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: recusandae
=======
        example: voluptas
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/chat-room/mark-all-read':
    put:
      summary: ''
      operationId: putApiVerChatRoomMarkAllRead
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                room_ids:
                  type: array
                  description: ''
                  example:
<<<<<<< Updated upstream
                    - 5.863
=======
                    - 3235742.880443
>>>>>>> Stashed changes
                  items:
                    type: number
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: sint
=======
        example: ipsa
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/chat-room/mark-read/{id}':
    put:
      summary: ''
      operationId: putApiVerChatRoomMarkReadId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: doloremque
=======
        example: ducimus
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the mark read.'
<<<<<<< Updated upstream
        example: '816954985'
=======
        example: '2295'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/chat-room/{id}':
    get:
      summary: ''
      operationId: getApiVerChatRoomId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    delete:
      summary: ''
      operationId: deleteApiVerChatRoomId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: aut
=======
        example: quo
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the chat room.'
<<<<<<< Updated upstream
        example: '44'
=======
        example: '58'
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
  '/api/{ver}/chat/download/{id}':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
<<<<<<< Updated upstream
        example: enim
=======
        example: amet
>>>>>>> Stashed changes
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the download.'
[...]
