openapi: 3.0.3
info:
  title: 'MetaFox APIs'
  description: "Version: v5.1.4\nUpdated: Jul 26, 2023"
  version: 1.0.0
servers:
  -
    url: 'https://demo.metafox.app/api/v1'
paths:
  /activitypoint/package:
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters:
        -
          in: query
          name: q
          description: 'search text'
          example: null
          required: false
          schema:
            type: string
            description: 'search text'
            example: null
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: ''
                  example: null
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: recent
                sort_type:
                  type: string
                  description: 'Must be one of <code>desc</code> or <code>asc</code>.'
                  example: desc
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: null
                limit:
                  type: integer
                  description: ''
                  example: null
  /activitypoint/package-transaction:
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: ''
                  example: null
                status:
                  type: string
                  description: ''
                  example: null
                from:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-07-26T10:00:24'
                to:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-07-26T10:00:24'
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: recent
                sort_type:
                  type: string
                  description: 'Must be one of <code>desc</code> or <code>asc</code>.'
                  example: desc
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: null
                limit:
                  type: integer
                  description: ''
                  example: null
  '/activitypoint/package/purchase/{id}':
    post:
      summary: ''
      operationId: postActivitypointPackagePurchaseId
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_gateway:
                  type: integer
                  description: ''
                  example: null
              required:
                - payment_gateway
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the purchase.'
        example: '19737086'
        required: true
        schema:
          type: string
  '/activitypoint/package/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the package.'
        example: '5'
        required: true
        schema:
          type: string
  /activitypoint/setting:
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: recent
                sort_type:
                  type: string
                  description: 'Must be one of <code>desc</code> or <code>asc</code>.'
                  example: asc
  '/activitypoint/statistic/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the statistic.'
        example: '342261'
        required: true
        schema:
          type: string
  /activitypoint/transaction:
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: integer
                  description: ''
                  example: null
                from:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-07-26T10:00:24'
                to:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-07-26T10:00:24'
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: most_discussed
                sort_type:
                  type: string
                  description: 'Must be one of <code>desc</code> or <code>asc</code>.'
                  example: desc
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: null
                limit:
                  type: integer
                  description: ''
                  example: null
  '/activitypoint/transaction/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the transaction.'
        example: '9997281'
        required: true
        schema:
          type: string
  /advertise/advertise:
    get:
      summary: ''
      operationId: getAdvertiseAdvertise
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                placement_id:
                  type: number
                  description: ''
                  example: null
                view:
                  type: string
                  description: ''
                  example: null
                start_date:
                  type: string
                  description: ''
                  example: null
                end_date:
                  type: string
                  description: ''
                  example: null
                status:
                  type: string
                  description: ''
                  example: null
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
                limit:
                  type: number
                  description: ''
                  example: null
      security: []
    post:
      summary: ''
      operationId: postAdvertiseAdvertise
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                placement_id:
                  type: number
                  description: ''
                  example: null
                image:
                  type: object
                  description: ''
                  example: null
                  properties:
                    status:
                      type: string
                      description: 'This field is required when <code>image.temp_file</code> is present.'
                      example: null
                    temp_file:
                      type: number
                      description: 'This field is required when <code>image.id</code> is <code>0</code>.'
                      example: null
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://rice.com/optio-quis-sunt-non-enim-quidem-consequatur-ipsam-quis'
                image_tooltip:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: null
                html_title:
                  type: string
                  description: 'This field is required when <code>creation_type</code> is <code>html</code>. Must not be greater than 25 characters.'
                  example: null
                html_description:
                  type: string
                  description: 'Must not be greater than 135 characters.'
                  example: null
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
                  example: null
                total_click:
                  type: string
                  description: ''
                  example: null
                total_impression:
                  type: string
                  description: ''
                  example: null
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: integer
                  description: 'Must be at least 1.'
                  example: null
                age_to:
                  type: string
                  description: ''
                  example: null
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
                    - null
                  items:
                    type: string
                is_active:
                  type: string
                  description: ''
                  example: null
                start_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-07-26T10:00:24'
                end_date:
                  type: string
                  description: ''
                  example: null
                creation_type:
                  type: string
                  description: ''
                  example: null
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
              required:
                - placement_id
                - image
                - url
                - title
                - start_date
                - creation_type
      security: []
  '/advertise/advertise/active/{id}':
    patch:
      summary: ''
      operationId: patchAdvertiseAdvertiseActiveId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the active.'
        example: '7'
        required: true
        schema:
          type: string
  '/advertise/advertise/hide/{id}':
    patch:
      summary: ''
      operationId: patchAdvertiseAdvertiseHideId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the hide.'
        example: '79701'
        required: true
        schema:
          type: string
  '/advertise/advertise/report/{id}':
    get:
      summary: ''
      operationId: getAdvertiseAdvertiseReportId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                report_type:
                  type: string
                  description: ''
                  example: null
                view:
                  type: string
                  description: ''
                  example: null
                start_date_month:
                  type: string
                  description: ''
                  example: null
                end_date_month:
                  type: string
                  description: ''
                  example: null
                start_date_week:
                  type: string
                  description: ''
                  example: null
                end_date_week:
                  type: string
                  description: ''
                  example: null
                start_date_day:
                  type: string
                  description: ''
                  example: null
                end_date_day:
                  type: string
                  description: ''
                  example: null
              required:
                - report_type
                - view
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the report.'
        example: '41'
        required: true
        schema:
          type: string
  /advertise/advertise/show:
    get:
      summary: ''
      operationId: getAdvertiseAdvertiseShow
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                placement_id:
                  type: number
                  description: ''
                  example: null
                location:
                  type: string
                  description: ''
                  example: null
              required:
                - placement_id
      security: []
  '/advertise/advertise/total/{id}':
    patch:
      summary: ''
      operationId: patchAdvertiseAdvertiseTotalId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: ''
                  example: null
              required:
                - type
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the total.'
        example: '6'
        required: true
        schema:
          type: string
  '/advertise/advertise/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    put:
      summary: ''
      operationId: putAdvertiseAdvertiseId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
                  example: null
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
                age_to:
                  type: number
                  description: ''
                  example: null
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
                    - null
                  items:
                    type: string
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
              required:
                - title
      security: []
    delete:
      summary: 'Delete item.'
      operationId: deleteItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the advertise.'
        example: '6900'
        required: true
        schema:
          type: string
  /advertise/invoice:
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  description: ''
                  example: null
                end_date:
                  type: string
                  description: ''
                  example: null
                status:
                  type: string
                  description: ''
                  example: null
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
                limit:
                  type: number
                  description: ''
                  example: null
      security: []
  '/advertise/invoice/cancel/{id}':
    patch:
      summary: ''
      operationId: patchAdvertiseInvoiceCancelId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the cancel.'
        example: '41'
        required: true
        schema:
          type: string
  /advertise/invoice/change:
    post:
      summary: ''
      operationId: postAdvertiseInvoiceChange
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_id:
                  type: number
                  description: ''
                  example: null
                item_id:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
                item_type:
                  type: string
                  description: ''
                  example: null
                payment_gateway:
                  type: number
                  description: ''
                  example: null
              required:
                - item_id
                - item_type
      security: []
  /advertise/invoice/payment:
    post:
      summary: ''
      operationId: postAdvertiseInvoicePayment
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_id:
                  type: number
                  description: ''
                  example: null
                item_id:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
                item_type:
                  type: string
                  description: ''
                  example: null
                payment_gateway:
                  type: number
                  description: ''
                  example: null
              required:
                - item_id
                - item_type
      security: []
  /advertise/sponsor:
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  description: ''
                  example: null
                end_date:
                  type: string
                  description: ''
                  example: null
                status:
                  type: string
                  description: ''
                  example: null
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
                limit:
                  type: number
                  description: ''
                  example: null
      security: []
    post:
      summary: 'Store item.'
      operationId: storeItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
                  example: null
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: integer
                  description: 'Must be at least 1.'
                  example: null
                age_to:
                  type: string
                  description: ''
                  example: null
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
                    - null
                  items:
                    type: string
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
                start_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-07-26T10:00:24'
                end_date:
                  type: string
                  description: ''
                  example: null
                item_type:
                  type: string
                  description: ''
                  example: null
                item_id:
                  type: integer
                  description: ''
                  example: null
                total_impression:
                  type: integer
                  description: 'Must be at least 100.'
                  example: null
              required:
                - title
                - start_date
                - item_type
                - item_id
                - total_impression
      security: []
  '/advertise/sponsor/active/{id}':
    patch:
      summary: ''
      operationId: patchAdvertiseSponsorActiveId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the active.'
        example: '846245865'
        required: true
        schema:
          type: string
  /advertise/sponsor/feed:
    post:
      summary: 'Store item.'
      operationId: storeItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
                  example: null
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: integer
                  description: 'Must be at least 1.'
                  example: null
                age_to:
                  type: string
                  description: ''
                  example: null
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
                    - null
                  items:
                    type: string
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
                start_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-07-26T10:00:24'
                end_date:
                  type: string
                  description: ''
                  example: null
                item_type:
                  type: string
                  description: ''
                  example: null
                item_id:
                  type: integer
                  description: ''
                  example: null
                total_impression:
                  type: integer
                  description: 'Must be at least 100.'
                  example: null
              required:
                - title
                - start_date
                - item_type
                - item_id
                - total_impression
      security: []
  '/advertise/sponsor/form/feed/{itemType}/{itemId}':
    get:
      summary: ''
      operationId: getAdvertiseSponsorFormFeedItemTypeItemId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: itemType
        description: ''
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: itemId
        description: ''
        example: null
        required: true
        schema:
          type: string
  '/advertise/sponsor/form/{itemType}/{itemId}':
    get:
      summary: ''
      operationId: getAdvertiseSponsorFormItemTypeItemId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: itemType
        description: ''
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: itemId
        description: ''
        example: null
        required: true
        schema:
          type: string
  '/advertise/sponsor/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    put:
      summary: 'Update item.'
      operationId: updateItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
                  example: null
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: integer
                  description: 'Must be at least 1.'
                  example: null
                age_to:
                  type: string
                  description: ''
                  example: null
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
                    - null
                  items:
                    type: string
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
              required:
                - title
      security: []
    delete:
      summary: 'Delete item.'
      operationId: deleteItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the sponsor.'
        example: '730'
        required: true
        schema:
          type: string
  /sponsor/total/click:
    post:
      summary: ''
      operationId: postSponsorTotalClick
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_type:
                  type: string
                  description: ''
                  example: null
                item_ids:
                  type: object
                  description: ''
                  example: null
                  properties: []
              required:
                - item_type
                - item_ids
      security: []
  /sponsor/total/view:
    post:
      summary: ''
      operationId: postSponsorTotalView
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_type:
                  type: string
                  description: ''
                  example: null
                item_ids:
                  type: object
                  description: ''
                  example: null
                  properties: []
              required:
                - item_type
                - item_ids
      security: []
  /announcement:
    get:
      summary: 'Browse announcement.'
      operationId: browseAnnouncement
      description: ''
      parameters:
        -
          in: query
          name: limit
          description: 'The items to return.'
          example: 10
          required: false
          schema:
            type: integer
            description: 'The items to return.'
            example: 10
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Announcement
  /announcement/view:
    get:
      summary: 'Browse announcement.'
      operationId: browseAnnouncement
      description: ''
      parameters:
        -
          in: query
          name: announcement_id
          description: ''
          example: null
          required: true
          schema:
            type: number
            description: ''
            example: null
        -
          in: query
          name: limit
          description: 'The items to return.'
          example: 10
          required: false
          schema:
            type: integer
            description: 'The items to return.'
            example: 10
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Announcement
    post:
      summary: 'Hide announcement.'
      operationId: hideAnnouncement
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Announcement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                announcement_id:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
              required:
                - announcement_id
  '/announcement/{id}':
    get:
      summary: 'View announcement.'
      operationId: viewAnnouncement
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Announcement
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the announcement.'
        example: '0000'
        required: true
        schema:
          type: string
  /attachment:
    post:
      summary: 'Upload attachment.'
      operationId: uploadAttachment
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Attachments
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                storage_id:
                  type: string
                  description: ''
                  example: null
                file:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 8192 kilobytes.'
                item_type:
                  type: string
                  description: ''
                  example: null
                upload_type:
                  type: string
                  description: ''
                  example: null
              required:
                - file
                - item_type
      security: []
  '/attachment/download/{id}':
    get:
      summary: 'Allow downloading resource.'
      operationId: allowDownloadingResource
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Attachments
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the download.'
        example: '32'
        required: true
        schema:
          type: string
  /authorization/device:
    post:
      summary: 'Store item.'
      operationId: storeItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_token:
                  type: string
                  description: ''
                  example: null
                device_id:
                  type: string
                  description: ''
                  example: null
                device_uid:
                  type: string
                  description: ''
                  example: null
                token_source:
                  type: string
                  description: ''
                  example: null
                platform:
                  type: string
                  description: ''
                  example: null
                platform_version:
                  type: string
                  description: ''
                  example: null
                extra:
                  type: object
                  description: ''
                  example: null
                  properties: []
              required:
                - device_token
                - device_id
                - token_source
      security: []
  /blog:
    get:
      summary: 'Browse blog.'
      operationId: browseBlog
      description: ''
      parameters:
        -
          in: query
          name: q
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
        -
          in: query
          name: view
          description: 'Must be one of <code>all</code>, <code>my</code>, <code>pending</code>, <code>feature</code>, <code>sponsor</code>, <code>search</code>, <code>my_pending</code>, <code>draft</code>, or <code>friend</code>.'
          example: sponsor
          required: false
          schema:
            type: string
            description: 'Must be one of <code>all</code>, <code>my</code>, <code>pending</code>, <code>feature</code>, <code>sponsor</code>, <code>search</code>, <code>my_pending</code>, <code>draft</code>, or <code>friend</code>.'
            example: sponsor
        -
          in: query
          name: sort
          description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
          example: most_liked
          required: false
          schema:
            type: string
            description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
            example: most_liked
        -
          in: query
          name: sort_type
          description: 'Must be one of <code>desc</code> or <code>asc</code>.'
          example: desc
          required: false
          schema:
            type: string
            description: 'Must be one of <code>desc</code> or <code>asc</code>.'
            example: desc
        -
          in: query
          name: when
          description: 'Must be one of <code>all</code>, <code>this_month</code>, <code>this_week</code>, or <code>today</code>.'
          example: all
          required: false
          schema:
            type: string
            description: 'Must be one of <code>all</code>, <code>this_month</code>, <code>this_week</code>, or <code>today</code>.'
            example: all
        -
          in: query
          name: category_id
          description: ''
          example: null
          required: false
          schema:
            type: integer
            description: ''
            example: null
        -
          in: query
          name: user_id
          description: 'The profile id to filter.'
          example: 0
          required: false
          schema:
            type: integer
            description: 'The profile id to filter.'
            example: 0
        -
          in: query
          name: owner_id
          description: ''
          example: null
          required: false
          schema:
            type: integer
            description: ''
            example: null
        -
          in: query
          name: page
          description: 'Must be at least 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Must be at least 1.'
            example: null
        -
          in: query
          name: limit
          description: ''
          example: null
          required: false
          schema:
            type: integer
            description: ''
            example: null
        -
          in: query
          name: is_featured
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    post:
      summary: 'Create blog.'
      operationId: createBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: ''
                  example: null
                categories:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: number
                owner_id:
                  type: number
                  description: ''
                  example: null
                file:
                  type: object
                  description: ''
                  example: null
                  properties:
                    temp_file:
                      type: number
                      description: 'This field is required when <code>file</code> is present.'
                      example: null
                text:
                  type: string
                  description: ''
                  example: null
                draft:
                  type: number
                  description: ''
                  example: null
                tags:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: string
                privacy:
                  type: string
                  description: ''
                  example: null
                captcha:
                  type: string
                  description: ''
                  example: null
                attachments:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: number
              required:
                - title
                - text
                - privacy
  /blog-category:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                  description: ''
                  example: null
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
                q:
                  type: string
                  description: ''
                  example: null
                level:
                  type: number
                  description: ''
                  example: null
                limit:
                  type: number
                  description: ''
                  example: null
  '/blog/approve/{id}':
    patch:
      summary: 'Approve blog.'
      operationId: approveBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the approve.'
        example: '48694'
        required: true
        schema:
          type: string
  '/blog/feature/{id}':
    patch:
      summary: 'Feature blog.'
      operationId: featureBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                feature:
                  type: number
                  description: 'Must be one of <code>0</code> or <code>1</code>.'
                  example: '0'
              required:
                - feature
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the feature.'
        example: '5'
        required: true
        schema:
          type: string
  /blog/form:
    get:
      summary: ''
      operationId: getBlogForm
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_id:
                  type: number
                  description: ''
                  example: null
  '/blog/form/{id}':
    get:
      summary: ''
      operationId: getBlogFormId
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_id:
                  type: number
                  description: ''
                  example: null
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the form.'
        example: '7'
        required: true
        schema:
          type: string
  '/blog/publish/{id}':
    patch:
      summary: 'Publish blog.'
      operationId: publishBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the publish.'
        example: '02'
        required: true
        schema:
          type: string
  /blog/search-form:
    get:
      summary: 'Get search form.'
      operationId: getSearchForm
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
  '/blog/sponsor-in-feed/{id}':
    patch:
      summary: 'Sponsor blog in feed.'
      operationId: sponsorBlogInFeed
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sponsor:
                  type: number
                  description: ''
                  example: null
              required:
                - sponsor
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the sponsor in feed.'
        example: '9'
        required: true
        schema:
          type: string
  '/blog/sponsor/{id}':
    patch:
      summary: 'Sponsor blog.'
      operationId: sponsorBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sponsor:
                  type: string
                  description: ''
                  example: null
              required:
                - sponsor
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the sponsor.'
        example: '0'
        required: true
        schema:
          type: string
  '/blog/{id}':
    get:
      summary: 'View Blog.'
      operationId: viewBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    put:
      summary: 'Update blog.'
      operationId: updateBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: ''
                  example: null
                categories:
                  type: array
                  description: 'Must be at least 1.'
                  example:
                    - null
                  items:
                    type: integer
                file:
                  type: object
                  description: ''
                  example: null
                  properties:
                    temp_file:
                      type: number
                      description: 'This field is required when <code>file.status</code> is <code>update</code>.'
                      example: null
                    status:
                      type: string
                      description: 'This field is required when <code>file</code> is present.'
                      example: null
                text:
                  type: string
                  description: ''
                  example: null
                tags:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: string
                draft:
                  type: number
                  description: ''
                  example: null
                published:
                  type: boolean
                  description: ''
                  example: false
                privacy:
                  type: string
                  description: ''
                  example: null
                attachments:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: number
    delete:
      summary: 'Delete blog.'
      operationId: deleteBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the blog.'
        example: '1'
        required: true
        schema:
          type: string
  /captcha/verify:
    post:
      summary: ''
      operationId: postCaptchaVerify
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Captcha
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                action_name:
                  type: string
                  description: ''
                  example: null
                captcha:
                  type: string
                  description: ''
                  example: null
      security: []
  /image-captcha/refresh:
    post:
      summary: ''
      operationId: postImageCaptchaRefresh
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Captcha
      security: []
  /chat:
    get:
      summary: ''
      operationId: getChat
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: ''
                  example: null
                room_id:
                  type: number
                  description: ''
                  example: null
                last_message_id:
                  type: number
                  description: ''
                  example: null
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: null
                limit:
                  type: integer
                  description: ''
                  example: null
      security: []
    post:
      summary: ''
      operationId: postChat
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                room_id:
                  type: number
                  description: ''
                  example: null
                message:
                  type: string
                  description: ''
                  example: null
                type:
                  type: string
                  description: ''
                  example: null
                reply_id:
                  type: integer
                  description: ''
                  example: null
                attachments:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: number
      security: []
  /chat-room:
    get:
      summary: ''
      operationId: getChatRoom
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: ''
                  example: null
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: null
                limit:
                  type: integer
                  description: ''
                  example: null
      security: []
    post:
      summary: ''
      operationId: postChatRoom
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                member_ids:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: number
                users:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: number
      security: []
  /chat-room/addForm:
    get:
      summary: ''
      operationId: getChatRoomAddForm
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
  /chat-room/mark-all-read:
    put:
      summary: ''
      operationId: putChatRoomMarkAllRead
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                room_ids:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: number
      security: []
  '/chat-room/mark-read/{id}':
    put:
      summary: ''
      operationId: putChatRoomMarkReadId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the mark read.'
        example: '22'
        required: true
        schema:
          type: string
  '/chat-room/{id}':
    get:
      summary: ''
      operationId: getChatRoomId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    delete:
      summary: ''
      operationId: deleteChatRoomId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the chat room.'
        example: '442'
        required: true
        schema:
          type: string
  '/chat/download/{id}':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the download.'
        example: '3'
        required: true
        schema:
          type: string
  '/chat/react/{id}':
    put:
      summary: ''
      operationId: putChatReactId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                react:
                  type: string
                  description: ''
                  example: null
                remove:
                  type: boolean
                  description: ''
                  example: true
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the react.'
        example: '812'
        required: true
        schema:
          type: string
  '/chat/remove/{id}':
    put:
      summary: ''
      operationId: putChatRemoveId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the remove.'
        example: '6842068'
        required: true
        schema:
          type: string
  '/chat/{id}':
    get:
      summary: ''
      operationId: getChatId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    put:
      summary: ''
      operationId: putChatId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: ''
                  example: null
                type:
                  type: string
                  description: ''
                  example: null
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the chat.'
        example: '2'
        required: true
        schema:
          type: string
  '/chatplus/can-create-direct-message/{type}/{id_from}/{id_to}':
    get:
      summary: ''
      operationId: getChatplusCanCreateDirectMessageTypeId_fromId_to
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
    parameters:
      -
        in: path
        name: type
        description: ''
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: id_from
        description: ''
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: id_to
        description: ''
        example: null
        required: true
        schema:
          type: string
  /chatplus/export-users:
    get:
      summary: ''
      operationId: getChatplusExportUsers
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
  /chatplus/jobs:
    get:
      summary: ''
      operationId: getChatplusJobs
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
  /chatplus/me:
    get:
      summary: ''
      operationId: getChatplusMe
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
  /chatplus/prefetch-users:
    get:
      summary: ''
      operationId: getChatplusPrefetchUsers
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
  '/chatplus/rooms/upload/{room_id}':
    post:
      summary: ''
      operationId: postChatplusRoomsUploadRoom_id
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: ''
                  example: null
                roomId:
                  type: string
                  description: ''
                  example: null
                token:
                  type: string
                  description: ''
                  example: null
                msg:
                  type: string
                  description: ''
                  example: null
                file:
                  type: object
                  description: ''
                  example: null
                  properties: []
              required:
                - userId
                - roomId
                - token
                - file
    parameters:
      -
        in: path
        name: room_id
        description: 'The ID of the room.'
        example: null
        required: true
        schema:
          type: string
  /chatplus/settings:
    get:
      summary: ''
      operationId: getChatplusSettings
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
  /chatplus/spotlight:
    get:
      summary: ''
      operationId: getChatplusSpotlight
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
  '/chatplus/user/{type}/{query}':
    get:
      summary: ''
      operationId: getChatplusUserTypeQuery
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
    parameters:
      -
        in: path
        name: type
        description: ''
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: query
        description: ''
        example: null
        required: true
        schema:
          type: string
  /comment:
    get:
      summary: 'Browse comments.'
      operationId: browseComments
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_id:
                  type: number
                  description: ''
                  example: null
                item_type:
                  type: string
                  description: ''
                  example: null
                parent_id:
                  type: number
                  description: ''
                  example: null
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
                limit:
                  type: number
                  description: ''
                  example: null
                sort:
                  type: string
                  description: ''
                  example: null
                sort_type:
                  type: string
                  description: ''
                  example: null
                last_id:
                  type: number
                  description: ''
                  example: null
                excludes:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: number
                comment_id:
                  type: integer
                  description: ''
                  example: null
              required:
                - item_id
                - item_type
    post:
      summary: 'Create comment.'
      operationId: createComment
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_id:
                  type: number
                  description: ''
                  example: null
                item_type:
                  type: string
                  description: ''
                  example: null
                text:
                  type: string
                  description: 'This field is required when none of <code>photo_id</code> and <code>sticker_id</code> are present.'
                  example: null
                parent_id:
                  type: number
                  description: ''
                  example: null
                photo_id:
                  type: number
                  description: ''
                  example: null
                sticker_id:
                  type: number
                  description: ''
                  example: null
                captcha:
                  type: string
                  description: ''
                  example: null
              required:
                - item_id
                - item_type
  /comment-lists:
    get:
      summary: ''
      operationId: getCommentLists
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_id:
                  type: number
                  description: ''
                  example: null
                item_type:
                  type: string
                  description: ''
                  example: null
                parent_id:
                  type: number
                  description: ''
                  example: null
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
                limit:
                  type: number
                  description: ''
                  example: null
                sort:
                  type: string
                  description: ''
                  example: null
                sort_type:
                  type: string
                  description: ''
                  example: null
                last_id:
                  type: number
                  description: ''
                  example: null
                excludes:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: number
                comment_id:
                  type: integer
                  description: ''
                  example: null
              required:
                - item_id
                - item_type
  '/comment/download/{id}':
    get:
      summary: ''
      operationId: getCommentDownloadId
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the download.'
        example: '2'
        required: true
        schema:
          type: string
  /comment/hide:
    post:
      summary: ''
      operationId: postCommentHide
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment_id:
                  type: number
                  description: ''
                  example: null
                is_hidden:
                  type: string
                  description: ''
                  example: null
                is_global:
                  type: string
                  description: ''
                  example: null
              required:
                - comment_id
                - is_hidden
  '/comment/history-edit/{id}':
    get:
      summary: ''
      operationId: getCommentHistoryEditId
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the history edit.'
        example: '2'
        required: true
        schema:
          type: string
  '/comment/preview/{id}':
    get:
      summary: ''
      operationId: getCommentPreviewId
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the preview.'
        example: '241'
        required: true
        schema:
          type: string
  /comment/related-comment:
    get:
      summary: ''
      operationId: getCommentRelatedComment
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_id:
                  type: number
                  description: ''
                  example: null
                item_type:
                  type: string
                  description: ''
                  example: null
                parent_id:
                  type: number
                  description: ''
                  example: null
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
                limit:
                  type: number
                  description: ''
                  example: null
                sort:
                  type: string
                  description: ''
                  example: null
                sort_type:
                  type: string
                  description: ''
                  example: null
                last_id:
                  type: number
                  description: ''
                  example: null
                excludes:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: number
                comment_id:
                  type: integer
                  description: ''
                  example: null
              required:
                - item_id
                - item_type
  '/comment/{id}':
    get:
      summary: 'View comment.'
      operationId: viewComment
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
    put:
      summary: 'Update comment.'
      operationId: updateComment
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: ''
                  example: null
                photo_id:
                  type: string
                  description: ''
                  example: null
                is_hide:
                  type: number
                  description: ''
                  example: null
                sticker_id:
                  type: string
                  description: ''
                  example: null
    delete:
      summary: 'Remove comment.'
      operationId: removeComment
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the comment.'
        example: '6'
        required: true
        schema:
          type: string
  '/comment/{id}/remove-preview':
    patch:
      summary: ''
      operationId: patchCommentIdRemovePreview
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the comment.'
        example: '2383272'
        required: true
        schema:
          type: string
  /contact:
    post:
      summary: 'Store item.'
      operationId: storeItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: integer
                  description: ''
                  example: null
                full_name:
                  type: string
                  description: 'Must be between 1 and 255 characters.'
                  example: null
                subject:
                  type: string
                  description: 'Must be between 1 and 255 characters.'
                  example: null
                email:
                  type: string
                  description: 'Must be a valid email address. Must be between 1 and 255 characters.'
                  example: null
                message:
                  type: string
                  description: ''
                  example: null
                send_copy:
                  type: integer
                  description: ''
                  example: null
                captcha:
                  type: string
                  description: ''
                  example: null
              required:
                - category_id
                - full_name
                - subject
                - email
                - message
      security: []
  '/core/admin/settings/{revision}':
    get:
      summary: 'View frontend settings.'
      operationId: viewFrontendSettings
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      security: []
    parameters:
      -
        in: path
        name: revision
        description: 'Optional parameter.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
  /core/custom-privacy-option:
    get:
      summary: ''
      operationId: getCoreCustomPrivacyOption
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                item_type:
                  type: string
                  description: ''
                  example: null
                item_id:
                  type: number
                  description: ''
                  example: null
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
                limit:
                  type: number
                  description: ''
                  example: null
                sort:
                  type: string
                  description: ''
                  example: null
                sort_type:
                  type: string
                  description: ''
                  example: null
      security: []
    post:
      summary: ''
      operationId: postCoreCustomPrivacyOption
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 64 characters.'
                  example: null
              required:
                - name
      security: []
  /core/custom-privacy-option/form:
    get:
      summary: ''
      operationId: getCoreCustomPrivacyOptionForm
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      security: []
  '/core/form/{formName}/{id}':
    get:
      summary: ''
      operationId: getCoreFormFormNameId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      security: []
    parameters:
      -
        in: path
        name: formName
        description: ''
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'Optional parameter. The ID of the .'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: '21'
  /core/mobile/action-settings:
    get:
      summary: 'View app settings.'
      operationId: viewAppSettings
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      security: []
  /core/mobile/app-settings:
    get:
      summary: 'View app settings.'
      operationId: viewAppSettings
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      security: []
  '/core/mobile/form/{formName}/{id}':
    get:
      summary: ''
      operationId: getCoreMobileFormFormNameId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      security: []
    parameters:
      -
        in: path
        name: formName
        description: ''
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'Optional parameter. The ID of the .'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: '3'
  '/core/mobile/settings/{revision}':
    get:
      summary: 'View app settings.'
      operationId: viewAppSettings
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      security: []
    parameters:
      -
        in: path
        name: revision
        description: 'Optional parameter.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
  /core/package/build/callback:
    get:
      summary: ''
      operationId: getCorePackageBuildCallback
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                buildId:
                  type: string
                  description: ''
                  example: null
              required:
                - buildId
      security: []
  /core/status:
    get:
      summary: 'View user badge status.'
      operationId: viewUserBadgeStatus
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      security: []
  '/core/translation/{group}/{lang}/{revision}':
    get:
      summary: ''
      operationId: getCoreTranslationGroupLangRevision
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      security: []
    parameters:
      -
        in: path
        name: group
        description: ''
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: lang
        description: 'Optional parameter.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
      -
        in: path
        name: revision
        description: 'Optional parameter.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
  /core/url-to-route:
    get:
      summary: 'Get canonical URL.'
      operationId: getCanonicalURL
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: ''
                  example: null
              required:
                - url
      security: []
  /core/web/action-settings:
    get:
      summary: 'View frontend settings.'
      operationId: viewFrontendSettings
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      security: []
  /core/web/app-settings:
    get:
      summary: 'View frontend settings.'
      operationId: viewFrontendSettings
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      security: []
  '/core/web/settings/{revision}':
    get:
      summary: 'View frontend settings.'
      operationId: viewFrontendSettings
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      security: []
    parameters:
      -
        in: path
        name: revision
        description: 'Optional parameter.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
  /file:
    post:
      summary: 'Upload single.'
      operationId: uploadSingle
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Core
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                storage_id:
                  type: string
                  description: ''
                  example: null
                file:
                  type: string
                  description: ''
                  example: null
                file_type:
                  type: string
                  description: ''
                  example: null
                item_type:
                  type: string
                  description: ''
                  example: null
                thumbnail_sizes:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: string
                base64:
                  type: string
                  description: ''
                  example: null
              required:
                - file
  /files:
    post:
      summary: 'Upload multiple file.'
      operationId: uploadMultipleFile
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Core
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                storage_id:
                  type: string
                  description: ''
                  example: null
                0:
                  type: string
                  description: ''
                  example: null
                item_type:
                  type: string
                  description: ''
                  example: null
                upload_type:
                  type: string
                  description: ''
                  example: null
                thumbnail_sizes:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: string
                file:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: string
              required:
                - file
  /link/fetch:
    post:
      summary: 'View link.'
      operationId: viewLink
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Core
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                link:
                  type: string
                  description: ''
                  example: null
              required:
                - link
      security: []
  /event:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Event
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: ''
                  example: null
                view:
                  type: string
                  description: ''
                  example: null
                sort:
                  type: string
                  description: ''
                  example: null
                sort_type:
                  type: string
                  description: ''
                  example: null
                when:
                  type: string
                  description: ''
                  example: null
                category_id:
                  type: number
                  description: ''
                  example: null
                user_id:
                  type: number
                  description: ''
                  example: null
                owner_id:
                  type: integer
                  description: ''
                  example: null
                event_id:
                  type: number
                  description: ''
                  example: null
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
                where:
                  type: string
                  description: 'Must be at least 2 characters.'
                  example: null
                lat:
                  type: number
                  description: ''
                  example: null
                lng:
                  type: number
                  description: ''
                  example: null
                radius:
                  type: number
                  description: 'Must be at least 1.'
                  example: null
                limit:
                  type: number
                  description: ''
                  example: null
                is_online:
                  type: number
                  description: ''
                  example: null
                is_featured:
                  type: number
                  description: ''
                  example: null
                bounds_west:
                  type: number
                  description: ''
                  example: null
                bounds_east:
                  type: number
                  description: ''
                  example: null
                bounds_south:
                  type: number
                  description: ''
                  example: null
                bounds_north:
                  type: number
                  description: ''
                  example: null
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: null
                text:
                  type: string
                  description: ''
                  example: null
                file:
                  type: object
                  description: ''
                  example: null
                  properties:
                    file_type:
                      type: string
                      description: 'This field is required when <code>file</code> is present.'
                      example: null
                    temp_file:
                      type: number
                      description: 'This field is required when <code>file</code> is present.'
                      example: null
                attachments:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: number
                categories:
                  type: array
                  description: ''
                  example:
                    - null
                  items:
                    type: number
                owner_id:
                  type: number
[...]
