openapi: 3.0.3
info:
  title: 'MetaFox APIs'
  description: "Version: v5.1.7\nUpdated: Dec 08, 2023"
  version: 1.0.0
servers:
  -
    url: 'https://demo.metafox.app/api/v1'
paths:
  '/api/{ver}/activitypoint/conversion-request':
    get:
      summary: 'Browse item'
      operationId: browseItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: ''
                  example: corporis
                from_date:
                  type: string
                  description: ''
                  example: eum
                to_date:
                  type: string
                  description: ''
                  example: placeat
                limit:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 100.'
                  example: 22
                id:
                  type: integer
                  description: ''
                  example: 17
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: aut
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/conversion-request/{id}':
    get:
      summary: ''
      operationId: getApiVerActivitypointConversionRequestId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Activity Point'
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: nostrum
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the conversion request.'
        example: '04'
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/conversion-request/{id}/cancel':
    patch:
      summary: ''
      operationId: patchApiVerActivitypointConversionRequestIdCancel
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Activity Point'
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: earum
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the conversion request.'
        example: '77074'
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/package':
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters:
        -
          in: query
          name: q
          description: 'search text'
          example: a
          required: false
          schema:
            type: string
            description: 'search text'
            example: a
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: ''
                  example: vitae
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: most_liked
                sort_type:
                  type: string
                  description: 'Must be one of <code>desc</code> or <code>asc</code>.'
                  example: desc
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 81
                limit:
                  type: integer
                  description: ''
                  example: 1
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: perspiciatis
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/package-transaction':
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: ''
                  example: at
                status:
                  type: string
                  description: ''
                  example: perferendis
                from:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T01:52:06'
                to:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T01:52:06'
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: most_viewed
                sort_type:
                  type: string
                  description: 'Must be one of <code>desc</code> or <code>asc</code>.'
                  example: desc
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 68
                limit:
                  type: integer
                  description: ''
                  example: 11
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: natus
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/package/purchase/{id}':
    post:
      summary: ''
      operationId: postApiVerActivitypointPackagePurchaseId
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_gateway:
                  type: integer
                  description: ''
                  example: 20
              required:
                - payment_gateway
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: maxime
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the purchase.'
        example: '4'
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/package/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: dolore
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the package.'
        example: '1960'
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/setting':
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: most_viewed
                sort_type:
                  type: string
                  description: 'Must be one of <code>desc</code> or <code>asc</code>.'
                  example: asc
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: impedit
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/statistic/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: eligendi
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the statistic.'
        example: '68'
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/transaction':
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: integer
                  description: ''
                  example: 2
                from:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T01:52:06'
                to:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T01:52:06'
                sort:
                  type: string
                  description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
                  example: latest
                sort_type:
                  type: string
                  description: 'Must be one of <code>desc</code> or <code>asc</code>.'
                  example: desc
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 47
                limit:
                  type: integer
                  description: ''
                  example: 4
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: quo
        required: true
        schema:
          type: string
  '/api/{ver}/activitypoint/transaction/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Activity Point'
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: sequi
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the transaction.'
        example: '16541'
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise':
    get:
      summary: ''
      operationId: getApiVerAdvertiseAdvertise
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                placement_id:
                  type: number
                  description: ''
                  example: 29448487.63245
                view:
                  type: string
                  description: ''
                  example: null
                start_date:
                  type: string
                  description: ''
                  example: dolorum
                end_date:
                  type: string
                  description: ''
                  example: voluptatem
                status:
                  type: string
                  description: ''
                  example: et
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 26
                limit:
                  type: number
                  description: ''
                  example: 3445.546288
      security: []
    post:
      summary: ''
      operationId: postApiVerAdvertiseAdvertise
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                placement_id:
                  type: number
                  description: ''
                  example: 2.1
                image:
                  type: object
                  description: ''
                  example: []
                  properties:
                    status:
                      type: string
                      description: 'This field is required when <code>image.temp_file</code> is present.'
                      example: quisquam
                    temp_file:
                      type: number
                      description: 'This field is required when <code>image.id</code> is <code>0</code>.'
                      example: 43.5678
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://www.schuster.com/'
                image_tooltip:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: btjprvfxkrgaldrt
                html_title:
                  type: string
                  description: 'This field is required when <code>creation_type</code> is <code>html</code>. Must not be greater than 25 characters.'
                  example: xwstdcdd
                html_description:
                  type: string
                  description: 'Must not be greater than 135 characters.'
                  example: yzljrseqb
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
                  example: u
                total_click:
                  type: string
                  description: ''
                  example: null
                total_impression:
                  type: string
                  description: ''
                  example: null
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 25
                age_to:
                  type: string
                  description: ''
                  example: null
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
                    - assumenda
                  items:
                    type: string
                is_active:
                  type: string
                  description: ''
                  example: null
                start_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T01:52:06'
                end_date:
                  type: string
                  description: ''
                  example: null
                creation_type:
                  type: string
                  description: ''
                  example: perspiciatis
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
              required:
                - placement_id
                - image
                - url
                - title
                - start_date
                - creation_type
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: perferendis
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise/active/{id}':
    patch:
      summary: ''
      operationId: patchApiVerAdvertiseAdvertiseActiveId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: et
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the active.'
        example: '0366742'
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise/hide/{id}':
    patch:
      summary: ''
      operationId: patchApiVerAdvertiseAdvertiseHideId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: ducimus
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the hide.'
        example: '0'
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise/report/{id}':
    get:
      summary: ''
      operationId: getApiVerAdvertiseAdvertiseReportId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                report_type:
                  type: string
                  description: ''
                  example: earum
                view:
                  type: string
                  description: ''
                  example: aliquam
                start_date_month:
                  type: string
                  description: ''
                  example: sed
                end_date_month:
                  type: string
                  description: ''
                  example: quasi
                start_date_week:
                  type: string
                  description: ''
                  example: veniam
                end_date_week:
                  type: string
                  description: ''
                  example: hic
                start_date_day:
                  type: string
                  description: ''
                  example: et
                end_date_day:
                  type: string
                  description: ''
                  example: necessitatibus
              required:
                - report_type
                - view
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: quo
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the report.'
        example: '72'
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise/show':
    get:
      summary: ''
      operationId: getApiVerAdvertiseAdvertiseShow
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                placement_id:
                  type: number
                  description: ''
                  example: 27.678470035
                location:
                  type: string
                  description: ''
                  example: temporibus
              required:
                - placement_id
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: sed
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise/total/{id}':
    patch:
      summary: ''
      operationId: patchApiVerAdvertiseAdvertiseTotalId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: ''
                  example: et
              required:
                - type
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: iste
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the total.'
        example: '5668'
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/advertise/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    put:
      summary: ''
      operationId: putApiVerAdvertiseAdvertiseId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
                  example: qk
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: number
                  description: 'Must be at least 1.'
                  example: 70
                age_to:
                  type: number
                  description: ''
                  example: 896.43935001
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
                    - sed
                  items:
                    type: string
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
              required:
                - title
      security: []
    delete:
      summary: 'Delete item.'
      operationId: deleteItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: impedit
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the advertise.'
        example: '55988'
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/invoice':
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  description: ''
                  example: ipsam
                end_date:
                  type: string
                  description: ''
                  example: deserunt
                status:
                  type: string
                  description: ''
                  example: quod
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 86
                limit:
                  type: number
                  description: ''
                  example: 4080.42995518
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: quis
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/invoice/cancel/{id}':
    patch:
      summary: ''
      operationId: patchApiVerAdvertiseInvoiceCancelId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: molestiae
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the cancel.'
        example: '8872218'
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/invoice/change':
    post:
      summary: ''
      operationId: postApiVerAdvertiseInvoiceChange
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_id:
                  type: number
                  description: ''
                  example: 342504438.0
                item_id:
                  type: number
                  description: 'Must be at least 1.'
                  example: 69
                item_type:
                  type: string
                  description: ''
                  example: quia
                payment_gateway:
                  type: number
                  description: ''
                  example: 87656410.63191
              required:
                - item_id
                - item_type
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: sunt
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/invoice/payment':
    post:
      summary: ''
      operationId: postApiVerAdvertiseInvoicePayment
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_id:
                  type: number
                  description: ''
                  example: 829.0
                item_id:
                  type: number
                  description: 'Must be at least 1.'
                  example: 42
                item_type:
                  type: string
                  description: ''
                  example: rerum
                payment_gateway:
                  type: number
                  description: ''
                  example: 567.59
              required:
                - item_id
                - item_type
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: qui
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/sponsor':
    get:
      summary: 'Browse item.'
      operationId: browseItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  description: ''
                  example: suscipit
                end_date:
                  type: string
                  description: ''
                  example: quaerat
                status:
                  type: string
                  description: ''
                  example: deleniti
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 85
                limit:
                  type: number
                  description: ''
                  example: 0.0
      security: []
    post:
      summary: 'Store item.'
      operationId: storeItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
                  example: rvdqwnxvpkkcaccml
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 64
                age_to:
                  type: string
                  description: ''
                  example: null
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
                    - tempora
                  items:
                    type: string
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
                start_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T01:52:06'
                end_date:
                  type: string
                  description: ''
                  example: null
                item_type:
                  type: string
                  description: ''
                  example: voluptatem
                item_id:
                  type: integer
                  description: ''
                  example: 9
                total_impression:
                  type: integer
                  description: 'Must be at least 100.'
                  example: 99
              required:
                - title
                - start_date
                - item_type
                - item_id
                - total_impression
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: ut
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/sponsor/active/{id}':
    patch:
      summary: ''
      operationId: patchApiVerAdvertiseSponsorActiveId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: omnis
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the active.'
        example: '6'
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/sponsor/feed':
    post:
      summary: 'Store item.'
      operationId: storeItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
                  example: tovldhngxvrava
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 17
                age_to:
                  type: string
                  description: ''
                  example: null
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
                    - et
                  items:
                    type: string
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
                start_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2023-12-26T01:52:06'
                end_date:
                  type: string
                  description: ''
                  example: null
                item_type:
                  type: string
                  description: ''
                  example: dolor
                item_id:
                  type: integer
                  description: ''
                  example: 11
                total_impression:
                  type: integer
                  description: 'Must be at least 100.'
                  example: 97
              required:
                - title
                - start_date
                - item_type
                - item_id
                - total_impression
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: officia
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/sponsor/form/feed/{itemType}/{itemId}':
    get:
      summary: ''
      operationId: getApiVerAdvertiseSponsorFormFeedItemTypeItemId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: ipsam
        required: true
        schema:
          type: string
      -
        in: path
        name: itemType
        description: ''
        example: omnis
        required: true
        schema:
          type: string
      -
        in: path
        name: itemId
        description: ''
        example: beatae
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/sponsor/form/{itemType}/{itemId}':
    get:
      summary: ''
      operationId: getApiVerAdvertiseSponsorFormItemTypeItemId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: aliquid
        required: true
        schema:
          type: string
      -
        in: path
        name: itemType
        description: ''
        example: maiores
        required: true
        schema:
          type: string
      -
        in: path
        name: itemId
        description: ''
        example: distinctio
        required: true
        schema:
          type: string
  '/api/{ver}/advertise/sponsor/{id}':
    get:
      summary: 'View item.'
      operationId: viewItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    put:
      summary: 'Update item.'
      operationId: updateItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than  255 characters.'
                  example: rxrvoqjmjepjpuwwtmiokbtvy
                genders:
                  type: array
                  description: 'This field is required when <code>genders</code> is present.'
                  example: null
                  items:
                    type: string
                age_from:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 87
                age_to:
                  type: string
                  description: ''
                  example: null
                languages:
                  type: array
                  description: 'This field is required when <code>languages</code> is present.'
                  example:
                    - repellat
                  items:
                    type: string
                location:
                  type: object
                  description: 'Must have at least {min, plural, =1 {# item} other {# items}}.'
                  example: null
                  properties: []
              required:
                - title
      security: []
    delete:
      summary: 'Delete item.'
      operationId: deleteItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: fugiat
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the sponsor.'
        example: '1'
        required: true
        schema:
          type: string
  '/api/{ver}/sponsor/total/click':
    post:
      summary: ''
      operationId: postApiVerSponsorTotalClick
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_type:
                  type: string
                  description: ''
                  example: qui
                item_ids:
                  type: object
                  description: ''
                  example: []
                  properties: []
              required:
                - item_type
                - item_ids
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: eum
        required: true
        schema:
          type: string
  '/api/{ver}/sponsor/total/view':
    post:
      summary: ''
      operationId: postApiVerSponsorTotalView
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Advertise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_type:
                  type: string
                  description: ''
                  example: possimus
                item_ids:
                  type: object
                  description: ''
                  example: []
                  properties: []
              required:
                - item_type
                - item_ids
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: quia
        required: true
        schema:
          type: string
  '/api/{ver}/announcement':
    get:
      summary: 'Browse announcement.'
      operationId: browseAnnouncement
      description: ''
      parameters:
        -
          in: query
          name: limit
          description: 'The items to return.'
          example: 10
          required: false
          schema:
            type: integer
            description: 'The items to return.'
            example: 10
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Announcement
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: quas
        required: true
        schema:
          type: string
  '/api/{ver}/announcement/view':
    get:
      summary: 'Browse announcement.'
      operationId: browseAnnouncement
      description: ''
      parameters:
        -
          in: query
          name: announcement_id
          description: ''
          example: 0.65137511
          required: true
          schema:
            type: number
            description: ''
            example: 0.65137511
        -
          in: query
          name: limit
          description: 'The items to return.'
          example: 10
          required: false
          schema:
            type: integer
            description: 'The items to return.'
            example: 10
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Announcement
    post:
      summary: 'Hide announcement.'
      operationId: hideAnnouncement
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Announcement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                announcement_id:
                  type: number
                  description: 'Must be at least 1.'
                  example: 51
              required:
                - announcement_id
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: velit
        required: true
        schema:
          type: string
  '/api/{ver}/announcement/{id}':
    get:
      summary: 'View announcement.'
      operationId: viewAnnouncement
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Announcement
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: nobis
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the announcement.'
        example: '4'
        required: true
        schema:
          type: string
  '/api/{ver}/attachment':
    post:
      summary: 'Upload attachment.'
      operationId: uploadAttachment
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Attachments
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                storage_id:
                  type: string
                  description: ''
                  example: repudiandae
                file:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 8192 kilobytes.'
                item_type:
                  type: string
                  description: ''
                  example: commodi
                upload_type:
                  type: string
                  description: ''
                  example: consequatur
              required:
                - file
                - item_type
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: necessitatibus
        required: true
        schema:
          type: string
  '/api/{ver}/attachment/download/{id}':
    get:
      summary: 'Allow downloading resource.'
      operationId: allowDownloadingResource
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Attachments
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: sequi
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the download.'
        example: '0'
        required: true
        schema:
          type: string
  '/api/{ver}/authorization/device':
    post:
      summary: 'Store item.'
      operationId: storeItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_token:
                  type: string
                  description: ''
                  example: sunt
                device_id:
                  type: string
                  description: ''
                  example: et
                device_uid:
                  type: string
                  description: ''
                  example: at
                token_source:
                  type: string
                  description: ''
                  example: provident
                platform:
                  type: string
                  description: ''
                  example: perferendis
                platform_version:
                  type: string
                  description: ''
                  example: sunt
                extra:
                  type: object
                  description: ''
                  example: null
                  properties: []
              required:
                - device_token
                - device_id
                - token_source
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: sed
        required: true
        schema:
          type: string
  '/api/{ver}/blog':
    get:
      summary: 'Browse blog.'
      operationId: browseBlog
      description: ''
      parameters:
        -
          in: query
          name: q
          description: ''
          example: doloremque
          required: false
          schema:
            type: string
            description: ''
            example: doloremque
        -
          in: query
          name: view
          description: 'Must be one of <code>all</code>, <code>my</code>, <code>pending</code>, <code>feature</code>, <code>sponsor</code>, <code>search</code>, <code>my_pending</code>, <code>draft</code>, or <code>friend</code>.'
          example: search
          required: false
          schema:
            type: string
            description: 'Must be one of <code>all</code>, <code>my</code>, <code>pending</code>, <code>feature</code>, <code>sponsor</code>, <code>search</code>, <code>my_pending</code>, <code>draft</code>, or <code>friend</code>.'
            example: search
        -
          in: query
          name: sort
          description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
          example: recent
          required: false
          schema:
            type: string
            description: 'Must be one of <code>recent</code>, <code>most_discussed</code>, <code>most_viewed</code>, <code>most_liked</code>, or <code>latest</code>.'
            example: recent
        -
          in: query
          name: sort_type
          description: 'Must be one of <code>desc</code> or <code>asc</code>.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Must be one of <code>desc</code> or <code>asc</code>.'
            example: asc
        -
          in: query
          name: when
          description: 'Must be one of <code>all</code>, <code>this_month</code>, <code>this_week</code>, or <code>today</code>.'
          example: today
          required: false
          schema:
            type: string
            description: 'Must be one of <code>all</code>, <code>this_month</code>, <code>this_week</code>, or <code>today</code>.'
            example: today
        -
          in: query
          name: category_id
          description: ''
          example: 2
          required: false
          schema:
            type: integer
            description: ''
            example: 2
        -
          in: query
          name: user_id
          description: 'The profile id to filter.'
          example: 0
          required: false
          schema:
            type: integer
            description: 'The profile id to filter.'
            example: 0
        -
          in: query
          name: owner_id
          description: ''
          example: 6
          required: false
          schema:
            type: integer
            description: ''
            example: 6
        -
          in: query
          name: page
          description: 'Must be at least 1.'
          example: 11
          required: false
          schema:
            type: integer
            description: 'Must be at least 1.'
            example: 11
        -
          in: query
          name: limit
          description: ''
          example: 14
          required: false
          schema:
            type: integer
            description: ''
            example: 14
        -
          in: query
          name: is_featured
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    post:
      summary: 'Create blog.'
      operationId: createBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: ''
                  example: omnis
                categories:
                  type: array
                  description: ''
                  example:
                    - 506431.9
                  items:
                    type: number
                owner_id:
                  type: number
                  description: ''
                  example: 373077.66798603
                file:
                  type: object
                  description: ''
                  example: null
                  properties:
                    temp_file:
                      type: number
                      description: 'This field is required when <code>file</code> is present.'
                      example: 8738.267627759
                text:
                  type: string
                  description: ''
                  example: et
                draft:
                  type: number
                  description: ''
                  example: 72040385.95
                tags:
                  type: array
                  description: ''
                  example:
                    - ut
                  items:
                    type: string
                privacy:
                  type: string
                  description: ''
                  example: quos
                captcha:
                  type: string
                  description: ''
                  example: null
                attachments:
                  type: array
                  description: ''
                  example:
                    - qui
                  items:
                    type: number
              required:
                - title
                - text
                - privacy
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: ducimus
        required: true
        schema:
          type: string
  '/api/{ver}/blog-category':
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                  description: ''
                  example: 32024571.848685
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 5
                q:
                  type: string
                  description: ''
                  example: ea
                level:
                  type: number
                  description: ''
                  example: 8.2576
                limit:
                  type: number
                  description: ''
                  example: 20294916.5
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: minus
        required: true
        schema:
          type: string
  '/api/{ver}/blog/approve/{id}':
    patch:
      summary: 'Approve blog.'
      operationId: approveBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: architecto
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the approve.'
        example: '11403'
        required: true
        schema:
          type: string
  '/api/{ver}/blog/feature/{id}':
    patch:
      summary: 'Feature blog.'
      operationId: featureBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                feature:
                  type: number
                  description: 'Must be one of <code>0</code> or <code>1</code>.'
                  example: '0'
              required:
                - feature
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: recusandae
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the feature.'
        example: '52'
        required: true
        schema:
          type: string
  '/api/{ver}/blog/form':
    get:
      summary: ''
      operationId: getApiVerBlogForm
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_id:
                  type: number
                  description: ''
                  example: 8.9424
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: reprehenderit
        required: true
        schema:
          type: string
  '/api/{ver}/blog/form/{id}':
    get:
      summary: ''
      operationId: getApiVerBlogFormId
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_id:
                  type: number
                  description: ''
                  example: 811.0
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: modi
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the form.'
        example: '80287'
        required: true
        schema:
          type: string
  '/api/{ver}/blog/publish/{id}':
    patch:
      summary: 'Publish blog.'
      operationId: publishBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: optio
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the publish.'
        example: '1'
        required: true
        schema:
          type: string
  '/api/{ver}/blog/search-form':
    get:
      summary: 'Get search form.'
      operationId: getSearchForm
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: aut
        required: true
        schema:
          type: string
  '/api/{ver}/blog/sponsor-in-feed/{id}':
    patch:
      summary: 'Sponsor blog in feed.'
      operationId: sponsorBlogInFeed
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sponsor:
                  type: number
                  description: ''
                  example: 53.00029182
              required:
                - sponsor
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: qui
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the sponsor in feed.'
        example: '0'
        required: true
        schema:
          type: string
  '/api/{ver}/blog/sponsor/{id}':
    patch:
      summary: 'Sponsor blog.'
      operationId: sponsorBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sponsor:
                  type: string
                  description: ''
                  example: natus
              required:
                - sponsor
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the sponsor.'
        example: '8'
        required: true
        schema:
          type: string
  '/api/{ver}/blog/{id}':
    get:
      summary: 'View Blog.'
      operationId: viewBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    put:
      summary: 'Update blog.'
      operationId: updateBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: ''
                  example: nesciunt
                categories:
                  type: array
                  description: 'Must be at least 1.'
                  example:
                    - 57
                  items:
                    type: integer
                file:
                  type: object
                  description: ''
                  example: null
                  properties:
                    temp_file:
                      type: number
                      description: 'This field is required when <code>file.status</code> is <code>update</code>.'
                      example: 2973180.9
                    status:
                      type: string
                      description: 'This field is required when <code>file</code> is present.'
                      example: ullam
                text:
                  type: string
                  description: ''
                  example: quod
                tags:
                  type: array
                  description: ''
                  example:
                    - ipsa
                  items:
                    type: string
                draft:
                  type: number
                  description: ''
                  example: 5.0625443
                published:
                  type: boolean
                  description: ''
                  example: false
                privacy:
                  type: string
                  description: ''
                  example: null
                attachments:
                  type: array
                  description: ''
                  example:
                    - aut
                  items:
                    type: number
    delete:
      summary: 'Delete blog.'
      operationId: deleteBlog
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: fuga
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the blog.'
        example: '3'
        required: true
        schema:
          type: string
  '/api/{ver}/captcha/verify':
    post:
      summary: ''
      operationId: postApiVerCaptchaVerify
      description: ''
      parameters: []
      responses: {  }
      tags:
        - CAPTCHA
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                action_name:
                  type: string
                  description: ''
                  example: omnis
                captcha:
                  type: string
                  description: ''
                  example: null
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: corrupti
        required: true
        schema:
          type: string
  '/api/{ver}/image-captcha/refresh':
    post:
      summary: ''
      operationId: postApiVerImageCaptchaRefresh
      description: ''
      parameters: []
      responses: {  }
      tags:
        - CAPTCHA
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: qui
        required: true
        schema:
          type: string
  '/api/{ver}/chat':
    get:
      summary: ''
      operationId: getApiVerChat
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: ''
                  example: ratione
                room_id:
                  type: number
                  description: ''
                  example: 0.4348
                last_message_id:
                  type: number
                  description: ''
                  example: 155459.64826118
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 13
                limit:
                  type: integer
                  description: ''
                  example: 18
      security: []
    post:
      summary: ''
      operationId: postApiVerChat
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                room_id:
                  type: number
                  description: ''
                  example: 912.385
                message:
                  type: string
                  description: ''
                  example: molestiae
                type:
                  type: string
                  description: ''
                  example: ea
                reply_id:
                  type: integer
                  description: ''
                  example: 13
                tempId:
                  type: string
                  description: ''
                  example: et
                attachments:
                  type: array
                  description: ''
                  example:
                    - non
                  items:
                    type: number
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: praesentium
        required: true
        schema:
          type: string
  '/api/{ver}/chat-room':
    get:
      summary: ''
      operationId: getApiVerChatRoom
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: ''
                  example: reprehenderit
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 2
                limit:
                  type: integer
                  description: ''
                  example: 15
      security: []
    post:
      summary: ''
      operationId: postApiVerChatRoom
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                member_ids:
                  type: array
                  description: ''
                  example:
                    - 445795.0
                  items:
                    type: number
                users:
                  type: array
                  description: ''
                  example:
                    - dolores
                  items:
                    type: number
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: nam
        required: true
        schema:
          type: string
  '/api/{ver}/chat-room/addForm':
    get:
      summary: ''
      operationId: getApiVerChatRoomAddForm
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: voluptas
        required: true
        schema:
          type: string
  '/api/{ver}/chat-room/mark-all-read':
    put:
      summary: ''
      operationId: putApiVerChatRoomMarkAllRead
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                room_ids:
                  type: array
                  description: ''
                  example:
                    - 3235742.880443
                  items:
                    type: number
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: ipsa
        required: true
        schema:
          type: string
  '/api/{ver}/chat-room/mark-read/{id}':
    put:
      summary: ''
      operationId: putApiVerChatRoomMarkReadId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: ducimus
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the mark read.'
        example: '2295'
        required: true
        schema:
          type: string
  '/api/{ver}/chat-room/{id}':
    get:
      summary: ''
      operationId: getApiVerChatRoomId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    delete:
      summary: ''
      operationId: deleteApiVerChatRoomId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: quo
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the chat room.'
        example: '58'
        required: true
        schema:
          type: string
  '/api/{ver}/chat/download/{id}':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: amet
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the download.'
        example: '6'
        required: true
        schema:
          type: string
  '/api/{ver}/chat/react/{id}':
    put:
      summary: ''
      operationId: putApiVerChatReactId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                react:
                  type: string
                  description: ''
                  example: aut
                remove:
                  type: boolean
                  description: ''
                  example: true
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: laudantium
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the react.'
        example: '83118'
        required: true
        schema:
          type: string
  '/api/{ver}/chat/remove/{id}':
    put:
      summary: ''
      operationId: putApiVerChatRemoveId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: quia
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the remove.'
        example: '77'
        required: true
        schema:
          type: string
  '/api/{ver}/chat/{id}':
    get:
      summary: ''
      operationId: getApiVerChatId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      security: []
    put:
      summary: ''
      operationId: putApiVerChatId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Chat
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: ''
                  example: placeat
                type:
                  type: string
                  description: ''
                  example: harum
      security: []
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: modi
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the chat.'
        example: '83'
        required: true
        schema:
          type: string
  '/api/{ver}/chatplus/can-create-direct-message/{type}/{id_from}/{id_to}':
    get:
      summary: ''
      operationId: getApiVerChatplusCanCreateDirectMessageTypeId_fromId_to
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: magni
        required: true
        schema:
          type: string
      -
        in: path
        name: type
        description: ''
        example: rem
        required: true
        schema:
          type: string
      -
        in: path
        name: id_from
        description: ''
        example: voluptates
        required: true
        schema:
          type: string
      -
        in: path
        name: id_to
        description: ''
        example: eum
        required: true
        schema:
          type: string
  '/api/{ver}/chatplus/export-users':
    get:
      summary: ''
      operationId: getApiVerChatplusExportUsers
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: earum
        required: true
        schema:
          type: string
  '/api/{ver}/chatplus/jobs':
    get:
      summary: ''
      operationId: getApiVerChatplusJobs
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: sit
        required: true
        schema:
          type: string
  '/api/{ver}/chatplus/me':
    get:
      summary: ''
      operationId: getApiVerChatplusMe
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{ver}/chatplus/prefetch-users':
    get:
      summary: ''
      operationId: getApiVerChatplusPrefetchUsers
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: impedit
        required: true
        schema:
          type: string
  '/api/{ver}/chatplus/rooms/upload/{room_id}':
    post:
      summary: ''
      operationId: postApiVerChatplusRoomsUploadRoom_id
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: ''
                  example: porro
                roomId:
                  type: string
                  description: ''
                  example: cum
                token:
                  type: string
                  description: ''
                  example: amet
                msg:
                  type: string
                  description: ''
                  example: voluptas
                file:
                  type: object
                  description: ''
                  example: []
                  properties: []
              required:
                - userId
                - roomId
                - token
                - file
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: natus
        required: true
        schema:
          type: string
      -
        in: path
        name: room_id
        description: 'The ID of the room.'
        example: rerum
        required: true
        schema:
          type: string
  '/api/{ver}/chatplus/settings':
    get:
      summary: ''
      operationId: getApiVerChatplusSettings
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: ad
        required: true
        schema:
          type: string
  '/api/{ver}/chatplus/spotlight':
    get:
      summary: ''
      operationId: getApiVerChatplusSpotlight
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: et
        required: true
        schema:
          type: string
  '/api/{ver}/chatplus/user/{type}/{query}':
    get:
      summary: ''
      operationId: getApiVerChatplusUserTypeQuery
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - ChatPlus
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: odio
        required: true
        schema:
          type: string
      -
        in: path
        name: type
        description: ''
        example: esse
        required: true
        schema:
          type: string
      -
        in: path
        name: query
        description: ''
        example: sit
        required: true
        schema:
          type: string
  '/api/{ver}/comment':
    get:
      summary: 'Browse comments.'
      operationId: browseComments
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_id:
                  type: number
                  description: ''
                  example: 249662.719142
                item_type:
                  type: string
                  description: ''
                  example: quaerat
                parent_id:
                  type: number
                  description: ''
                  example: 1.35
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 18
                limit:
                  type: number
                  description: ''
                  example: 64773.17385
                sort:
                  type: string
                  description: ''
                  example: exercitationem
                sort_type:
                  type: string
                  description: ''
                  example: sit
                last_id:
                  type: number
                  description: ''
                  example: 15520.56549708
                excludes:
                  type: array
                  description: ''
                  example:
                    - 4265.6564994
                  items:
                    type: number
                comment_id:
                  type: integer
                  description: ''
                  example: 17
              required:
                - item_id
                - item_type
    post:
      summary: 'Create comment.'
      operationId: createComment
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_id:
                  type: number
                  description: ''
                  example: 16826.25733665
                item_type:
                  type: string
                  description: ''
                  example: molestiae
                text:
                  type: string
                  description: 'This field is required when none of <code>photo_id</code> and <code>sticker_id</code> are present.'
                  example: modi
                parent_id:
                  type: number
                  description: ''
                  example: 28392404.964
                photo_id:
                  type: number
                  description: ''
                  example: 0.9
                sticker_id:
                  type: number
                  description: ''
                  example: 793.7186
                captcha:
                  type: string
                  description: ''
                  example: null
              required:
                - item_id
                - item_type
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: numquam
        required: true
        schema:
          type: string
  '/api/{ver}/comment-lists':
    get:
      summary: ''
      operationId: getApiVerCommentLists
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_id:
                  type: number
                  description: ''
                  example: 4549153.88
                item_type:
                  type: string
                  description: ''
                  example: est
                parent_id:
                  type: number
                  description: ''
                  example: 387151.04879
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 25
                limit:
                  type: number
                  description: ''
                  example: 114370259.32651
                sort:
                  type: string
                  description: ''
                  example: nisi
                sort_type:
                  type: string
                  description: ''
                  example: praesentium
                last_id:
                  type: number
                  description: ''
                  example: 818235.929
                excludes:
                  type: array
                  description: ''
                  example:
                    - 0.93
                  items:
                    type: number
                comment_id:
                  type: integer
                  description: ''
                  example: 3
              required:
                - item_id
                - item_type
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: cum
        required: true
        schema:
          type: string
  '/api/{ver}/comment/approve/{id}':
    patch:
      summary: 'Approve comment.'
      operationId: approveComment
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: asperiores
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the approve.'
        example: '527359'
        required: true
        schema:
          type: string
  '/api/{ver}/comment/download/{id}':
    get:
      summary: ''
      operationId: getApiVerCommentDownloadId
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: autem
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the download.'
        example: '79'
        required: true
        schema:
          type: string
  '/api/{ver}/comment/hide':
    post:
      summary: ''
      operationId: postApiVerCommentHide
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment_id:
                  type: number
                  description: ''
                  example: 2278185.671
                is_hidden:
                  type: string
                  description: ''
                  example: laudantium
                is_global:
                  type: string
                  description: ''
                  example: null
              required:
                - comment_id
                - is_hidden
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: nihil
        required: true
        schema:
          type: string
  '/api/{ver}/comment/history-edit/{id}':
    get:
      summary: ''
      operationId: getApiVerCommentHistoryEditId
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: quo
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the history edit.'
        example: '33230'
        required: true
        schema:
          type: string
  '/api/{ver}/comment/preview/{id}':
    get:
      summary: ''
      operationId: getApiVerCommentPreviewId
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: aliquid
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the preview.'
        example: '3'
        required: true
        schema:
          type: string
  '/api/{ver}/comment/related-comment':
    get:
      summary: ''
      operationId: getApiVerCommentRelatedComment
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_id:
                  type: number
                  description: ''
                  example: 3677475.2230131
                item_type:
                  type: string
                  description: ''
                  example: et
                parent_id:
                  type: number
                  description: ''
                  example: 846145.431
                page:
                  type: number
                  description: 'Must be at least 1.'
                  example: 30
                limit:
                  type: number
                  description: ''
                  example: 4717.0
                sort:
                  type: string
                  description: ''
                  example: provident
                sort_type:
                  type: string
                  description: ''
                  example: numquam
                last_id:
                  type: number
                  description: ''
                  example: 15073.36
                excludes:
                  type: array
                  description: ''
                  example:
                    - 0.4382
                  items:
                    type: number
                comment_id:
                  type: integer
                  description: ''
                  example: 15
              required:
                - item_id
                - item_type
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: dignissimos
        required: true
        schema:
          type: string
  '/api/{ver}/comment/{id}':
    get:
      summary: 'View comment.'
      operationId: viewComment
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
    put:
      summary: 'Update comment.'
      operationId: updateComment
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: ''
                  example: quam
                photo_id:
                  type: string
                  description: ''
                  example: null
                is_hide:
                  type: number
                  description: ''
                  example: 0.0894
                sticker_id:
                  type: string
                  description: ''
                  example: null
    delete:
      summary: 'Remove comment.'
      operationId: removeComment
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: iusto
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the comment.'
        example: '567'
        required: true
        schema:
          type: string
  '/api/{ver}/comment/{id}/remove-preview':
    patch:
      summary: ''
      operationId: patchApiVerCommentIdRemovePreview
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {accessToken}'
          schema:
            type: string
      responses: {  }
      tags:
        - Comment
    parameters:
      -
        in: path
        name: ver
        description: ''
        example: delectus
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the comment.'
        example: '6998'
        required: true
        schema:
          type: string
  '/api/{ver}/contact':
    post:
      summary: 'Store item.'
      operationId: storeItem
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: integer
                  description: ''
                  example: 5
                full_name:
                  type: string
                  description: 'Must be between 1 and 255 characters.'
                  example: j
                subject:
                  type: string
                  description: 'Must be between 1 and 255 characters.'
                  example: z
                email:
                  type: string
                  description: 'Must be a valid email address. Must be between 1 and 255 characters.'
                  example: rbuckridge@example.com
                message:
                  type: string
                  description: ''
                  example: veniam
                send_copy:
                  type: integer
[...]
